<template>
  <div>
    <div
      class="page-header dtable text-center"
      style="background-image: url(https://omicall.com/wp-content/uploads/bg-page-header.jpeg);"
    >
      <div class="dcell">
        <div class="container">
          <h1 class="page-title">Đầu số đẹp</h1>
          <ul id="breadcrumbs" class="breadcrumbs">
            <li><a href="/">Home /</a></li>
            <li class="active">Đầu số</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-3 col-xs-3">
          <el-select v-model="value" placeholder="Mobifone" style="width: 100%;">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <div class="col-lg-8 col-sm-9 col-xs-9">
          <el-input v-model="search" placeholder="Tìm kiếm số điện thoại" />
        </div>
      </div>
      <div class="row">
        <el-table style="width: 100%" :data="tableData.filter(data => !search || data.phone.toLowerCase().includes(search.toLowerCase()))" height="500">
          <el-table-column prop="name" label="Nhà mạng"> </el-table-column>
          <el-table-column prop="phone" label="Đầu số"> </el-table-column>
          <!-- <el-table-column prop="own" label="Sở hữu" class="showDesktop"> </el-table-column> -->
          <el-table-column prop="status" label="Tình trạng">
            <template slot-scope="scope">
              <el-button
                size="mini"
                @click="registerPhone(scope.row.phone)"
                :type="scope.row.status === 'available' ? 'primary' : 'info'"
                :disabled="scope.row.status == 'available' ? false : true"
                >{{ scope.row.status == "available" ? "Đăng ký" : "Đã bán" }}</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <el-dialog
    class="form-contact-home"
      title="Thông tin liên hệ"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose"
    >
      <el-form
        label-position="top"
        :model="ruleForm"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <div class="row">
          <div class="col-lg-6">
            <el-form-item label="Họ tên" prop="fullname">
              <el-input
                placeholder="Họ tên"
                v-model="ruleForm.fullname"
              ></el-input>
            </el-form-item>
          </div>
          <div class="col-lg-6">
            <el-form-item
              label="Email"
              prop="email"
              :rules="[
                {
                  required: true,
                  message: 'Nhập đúng định dạng email',
                  trigger: 'blur'
                },
                {
                  type: 'email',
                  message: 'Nhập đúng định dạng email',
                  trigger: ['blur', 'change']
                }
              ]"
            >
              <el-input placeholder="Email" v-model="ruleForm.email"></el-input>
            </el-form-item>
          </div>
          <div class="col-lg-12">
            <el-form-item
              :rules="[
                {
                  required: true,
                  message: 'Điện thoại không được để trống !',
                  trigger: 'blur'
                }
              ]"
              label="Đầu số đăng ký"
              prop="phone"
            >
              <el-input
                placeholder="Điện thoại"
                v-model="ruleForm.phone"
                disabled
              ></el-input>
            </el-form-item>
          </div>
          <div class="col-lg-12">
            <el-form-item label="Tiêu đề" prop="title">
              <el-input v-model="ruleForm.title"></el-input>
            </el-form-item>
          </div>
          <div class="col-lg-12">
            <el-form-item label="Nội dung" prop="content">
              <el-input
                placeholder="Nội dung"
                type="textarea"
                v-model="ruleForm.content"
              ></el-input>
            </el-form-item>
          </div>
        </div>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')"
            >Gửi</el-button
          >
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>

import mobifone from "./mobifone.json";
import viettel from "./viettel.json";
import vinaphone from "./vinaphone.json";
import digitel from "./digitel.json";
import gmobile_099 from "./gmobile_099.json";
import gmolile_059 from "./gmolile_059.json";

export default {
  data() {
    return {
      tableData: mobifone,
      filterTableData: null,
      search: "",
      options: [
        {
          value: "mobifone",
          label: "Mobifone"
        },
        {
          value: "viettel",
          label: "Viettel"
        },
        {
          value: "vinaphone",
          label: "Vinaphone"
        },
        {
          value: "digitel",
          label: "Digitel"
        },
        {
          value: "gmobile_099",
          label: "Gmobile"
        }
        // {
        //   value: "gmolile_059",
        //   label: "Gmolile_059"
        // }
      ],
      value: "",
      dialogVisible: false,
      ruleForm: {
        fullname: "",
        email: "",
        phone: "",
        title: "",
        content: ""
      }
    };
  },
  methods: {
    handleEdit(index, row) {
      console.log(index, row);
    },
    handleDelete(index, row) {
      console.log(index, row);
    },
    handleClose(done) {
      done();
    },
    registerPhone(phoneNumber) {
      this.ruleForm.phone = phoneNumber;
      console.log(phoneNumber);
      this.dialogVisible = true;
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert("Đã gửi thông tin liên hệ !");
          this.dialogVisible = false
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  },
  updated() {
    if (this.value != "") {
      switch (this.value) {
        case "mobifone":
          this.tableData = mobifone;
          break;
        case "viettel":
          this.tableData = viettel;
          break;
        case "vinaphone":
          this.tableData = vinaphone;
          break;
        case "digitel":
          this.tableData = digitel;
          break;
        case "gmobile_099":
          this.tableData = gmobile_099;
          break;
        case "gmolile_059":
          this.tableData = gmolile_059;
      }
    }
  }
};
</script>

<style>
@media (max-width: 768px) {
  .el-table .cell {
    font-size: 12px;
  }

  .el-tag {
    font-size: 11px;
    padding: 2px 7px;
    text-align: center;
    height: auto;
  }

  input.el-input__inner {
    height: 30px;
    margin: 5px 0;
    font-size: 12px;
  }
}
</style>
