<template>
  <div>
    <section id="section-hero" aria-label="section" class="bgcustom"
      style="background: url('https://madebydesignesia.com/themes/hostco/images/background/6.jpg') center top / 100% no-repeat;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mb-sm-30">
            <h1>TỔNG ĐÀI TELESALE/OUTBOUND</h1>
            <p>
              Tiếp cận nhiều khách hàng hơn với những cuộc gọi chất lượng
            </p>
            <!-- <a class="btn-main" href="#">Get Started</a> -->
          </div>
          <div class="col-lg-4 offset-lg-2">
            <div class="spacer-single sm-hide"></div>
            <div class="register-hotline padding40 rounded-3 shadow-soft text-center bgcustom" data-bgcolor="#ffffff">
              <h4>ĐĂNG KÝ DÙNG THỬ MIỄN PHÍ 15 NGÀY NGAY</h4>
              <div class="spacer-10"></div>
              <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" class="form">
                <el-form-item :rules="[
                  {
                    required: true,
                    message: 'Không được để trống !',
                    trigger: 'blur'
                  }
                ]">
                  <el-input placeholder="Tên đăng nhập" v-model="ruleForm.username"></el-input>
                </el-form-item>

                <el-form-item prop="email" :rules="[
                  {
                    required: true,
                    message: 'Nhập đúng định dạng email',
                    trigger: 'blur'
                  },
                  {
                    type: 'email',
                    message: 'Nhập đúng định dạng email',
                    trigger: ['blur', 'change']
                  }
                ]">
                  <el-input placeholder="Email hoặc số điện thoại" v-model="ruleForm.email"></el-input>
                </el-form-item>
                <el-form-item :rules="[
                  {
                    required: true,
                    message: 'Vui lòng nhập mật khẩu !',
                    trigger: 'blur'
                  }
                ]" prop="pass">
                  <el-input type="password" placeholder="Nhập mật khẩu" v-model="ruleForm.pass"
                    autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item prop="checkPass">
                  <el-input type="password" placeholder="Nhập lại mật khẩu" v-model="ruleForm.checkPass"
                    autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item style="margin-bottom: 10px">
                  <el-button class="btn-submit-login bg-register" type="primary" @click="register('ruleForm')">Đăng
                    ký</el-button>
                  <div class="title-line">Hoặc đăng nhập với</div>
                  <div class="row g-2">
                    <div class="col-lg-6">
                      <a class="btn-sc btn-fullwidth mb10" href="#"><img style="width: 30px"
                          src="https://madebydesignesia.com/themes/hostco/images/svg/google_icon.svg" alt="" />Google</a>
                    </div>
                    <div class="col-lg-6">
                      <a class="btn-sc btn-fullwidth mb10" href="#"><img style="width: 30px"
                          src="https://madebydesignesia.com/themes/hostco/images/svg/facebook_icon.svg"
                          alt="" />Facebook</a>
                    </div>
                  </div>
                </el-form-item>
              </el-form>
            </div>
            <div class="spacer-single sm-hide"></div>
          </div>
        </div>
      </div>
    </section>

    <div class="bg-service">
      <div class="container">
        <div class="title">
          <p>Sản phẩm</p>
          <h2>Cloud</h2>
        </div>
        <div class="row service-home">
          <div class="col-lg-6">
            <div class="item">
              <div class="icon"><img src="/_nuxt/assets/icon/headphone.png" alt="icon">
                <h3>Click-To-Call
                </h3>
                <p>
                  Khác với giải pháp truyền thống cần nhiều thao tác thủ công, bạn có thể gọi khách hàng với một nhấp chuột đầy tiện lợi
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item">
              <div class="icon"><img src="/_nuxt/assets/icon/worldwide_networking.png" alt="icon">
                <h3>Định Tuyến Tối Ưu
                </h3>
                <p>
                  Bạn có thể tiết kiệm 20% – 50% cước gọi hàng tháng với tính năng tự động dùng số nội mạng để gọi đi
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item">
              <div class="icon"><img
                  src="http://themelooks.net/demo/hoskia/wp-content/uploads/2018/04/feature-icon-03.png" alt="icon">
                <h3>Tiếp Cận Nhiều Khách Hàng Hơn
                </h3>
                <p>
                  Giúp doanh nghiệp tiếp cận hàng ngàn hàng chục ngàn data mỗi ngày với nguồn nhân lực giới hạn. Tính năng Auto Call tự động quay số đồng thời nhiều cuộc gọi và phát kịch bản thu sẵn để thực hiện hàng ngàn cuộc gọi thông báo, giới thiệu dịch vụ cùng lúc
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item">
              <div class="icon"><img
                  src="http://themelooks.net/demo/hoskia/wp-content/uploads/2018/04/feature-icon-03.png" alt="icon">
                <h3>Phân Quyền Và Ẩn Số Điện Thoại Đối Với Nhân Viên
                </h3>
                <p>
                  Đối với một số lĩnh vực cụ thể, khi bạn cần mức độ bảo mật giữa các nhân viên cũng như bảo mật số điện thoại khách hàng với một số vai trò nhất định, bạn có thể phân quyền truy cập danh bạ cụ thể cho nhân viên cũng như thiết lập ẩn số điện thoại đối với nhân viên dễ dàng mà hoàn toàn không làm ảnh hưởng đến hiệu quả công việc của đội ngũ.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import './style.css'
export default {
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Vui lòng nhập mật khẩu"));
      } else {
        if (this.ruleForm.checkPass !== "") {
          this.$refs.ruleForm.validateField("checkPass");
        }
        callback();
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Mật khẩu nhập lại không khớp"));
      } else if (value !== this.ruleForm.pass) {
        callback(new Error("Mật khẩu nhập lại không khớp !"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        username: "",
        pass: "",
        checkPass: "",
        email: ""
      },
      rules: {
        pass: [{ validator: validatePass, trigger: "blur" }],
        checkPass: [{ validator: validatePass2, trigger: "blur" }]
      }
    };
  },
  methods: {
    register(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$axios.post("/api-login/register", {
              username: this.ruleForm.username,
              email: this.ruleForm.email,
              password: this.ruleForm.pass
            });

            await this.$auth.loginWith("local", {
              data: {
                email: this.ruleForm.email,
                password: this.ruleForm.pass
              }
            });

            this.$message({
              type: "success",
              message: "Đăng ký thành công email:" + this.ruleForm.email
            });
            this.$router.push("/");
          } catch (e) {
            this.error = e.response.data.message;
          }
        } else {
          return false;
        }
      });
    }
  }
};
</script>

<style>
.bg-service .item {
  padding-bottom: 32px;
}
</style>