<template>
  <div>
    <section id="section-hero" aria-label="section" class="bgcustom"
      style="background: url('https://madebydesignesia.com/themes/hostco/images/background/6.jpg') center top / 100% no-repeat;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mb-sm-30">
            <h1>GCALLS PLUS WEBPHONE</h1>
            <p>
              Phần mềm nghe gọi và quản lý hệ thống tổng đài thông minh
            </p>
            <!-- <a class="btn-main" href="#">Get Started</a> -->
          </div>
          <div class="col-lg-4 offset-lg-2">
            <div class="spacer-single sm-hide"></div>
            <div class="register-hotline padding40 rounded-3 shadow-soft text-center bgcustom" data-bgcolor="#ffffff">
              <h4>ĐĂNG KÝ DÙNG THỬ MIỄN PHÍ 15 NGÀY NGAY</h4>
              <div class="spacer-10"></div>
              <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" class="form">
                <el-form-item :rules="[
                  {
                    required: true,
                    message: 'Không được để trống !',
                    trigger: 'blur'
                  }
                ]">
                  <el-input placeholder="Tên đăng nhập" v-model="ruleForm.username"></el-input>
                </el-form-item>

                <el-form-item prop="email" :rules="[
                  {
                    required: true,
                    message: 'Nhập đúng định dạng email',
                    trigger: 'blur'
                  },
                  {
                    type: 'email',
                    message: 'Nhập đúng định dạng email',
                    trigger: ['blur', 'change']
                  }
                ]">
                  <el-input placeholder="Email hoặc số điện thoại" v-model="ruleForm.email"></el-input>
                </el-form-item>
                <el-form-item :rules="[
                  {
                    required: true,
                    message: 'Vui lòng nhập mật khẩu !',
                    trigger: 'blur'
                  }
                ]" prop="pass">
                  <el-input type="password" placeholder="Nhập mật khẩu" v-model="ruleForm.pass"
                    autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item prop="checkPass">
                  <el-input type="password" placeholder="Nhập lại mật khẩu" v-model="ruleForm.checkPass"
                    autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item style="margin-bottom: 10px">
                  <el-button class="btn-submit-login bg-register" type="primary" @click="register('ruleForm')">Đăng
                    ký</el-button>
                  <div class="title-line">Hoặc đăng nhập với</div>
                  <div class="row g-2">
                    <div class="col-lg-6">
                      <a class="btn-sc btn-fullwidth mb10" href="#"><img style="width: 30px"
                          src="https://madebydesignesia.com/themes/hostco/images/svg/google_icon.svg" alt="" />Google</a>
                    </div>
                    <div class="col-lg-6">
                      <a class="btn-sc btn-fullwidth mb10" href="#"><img style="width: 30px"
                          src="https://madebydesignesia.com/themes/hostco/images/svg/facebook_icon.svg"
                          alt="" />Facebook</a>
                    </div>
                  </div>
                </el-form-item>
              </el-form>
            </div>
            <div class="spacer-single sm-hide"></div>
          </div>
        </div>
      </div>
    </section>

    <div class="bg-service">
      <div class="container">
        <div class="title">
          <p>Sản phẩm</p>
          <h2>Pro/Enterprise</h2>
        </div>
        <div class="row service-home">
          <div class="col-lg-6">
            <div class="item">
              <div class="icon"><img src="/_nuxt/assets/icon/headphone.png" alt="icon">
                <h3>Tăng Hiệu Suất Của Đội Ngũ
                </h3>
                <p>
                  Với giao diện thân thiện và dễ sử dụng, đội ngũ có thể nhanh chóng làm quen và áp dụng giải pháp vào
                  công việc thường ngày. Từ các thao tác phân chia khách hàng, gọi đi, tra cứu thông tin khách đến ghi chú
                  và tạo nhắc nhở đều có thể thực hiện dễ dàng trên ứng dụng.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item">
              <div class="icon"><img src="/_nuxt/assets/icon/worldwide_networking.png" alt="icon">
                <h3>
                  Cá Nhân Hoá Trải Nghiệm
                </h3>
                <p>
                  Mọi tương tác giữa bạn và khách hàng đều được lưu trữ trực quan, giúp đội ngũ có các thông tin cần thiết
                  trong tầm tay để chuẩn bị tốt hơn cho cuộc trò chuyện và mang đến cho khách hàng những trải nghiệm tuyệt
                  vời.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item">
              <div class="icon"><img
                  src="http://themelooks.net/demo/hoskia/wp-content/uploads/2018/04/feature-icon-03.png" alt="icon">
                <h3>Phân Loại Cuộc Gọi
                </h3>
                <p>
                  Hàng ngày đội ngũ của bạn phải xử lý hàng trăm, hàng ngàn cuộc gọi. Nhân sự có thể gắn nhãn phân loại
                  cho cuộc gọi để lọc nhanh các cuộc gọi cùng nội dung và mục đích chỉ với một click.
                </p>
                <p>
                  Ngoài ra, hệ thống cũng phân biệt giúp bạn các khách hàng gọi nhỡ đã được chăm sóc và chưa được chăm
                  sóc.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item">
              <div class="icon"><img
                  src="http://themelooks.net/demo/hoskia/wp-content/uploads/2018/04/feature-icon-03.png" alt="icon">
                <h3>Quản Lý Người Dùng Với Vai Trò Khác Nhau
                </h3>
                <p>
                  Mỗi công ty sẽ có nhiều vai trò phòng ban với quyền truy cập và thao tác trên dữ liệu khác nhau. Từ đó,
                  bạn có thể bảo vệ dữ liệu tốt hơn và giúp nhân sự không bị phân tâm với các thông tin không thuộc trách
                  nhiệm của mình.
                </p>
                <p>
                  Ví dụ bạn có thể cài đặt ẩn số điện thoại với các nhân sự part-time, cộng tác viên.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item">
              <div class="icon"><img
                  src="http://themelooks.net/demo/hoskia/wp-content/uploads/2018/04/feature-icon-03.png" alt="icon">
                <h3>Báo Cáo Thống Kê Cuộc Gọi
                </h3>
                <p>
                  Báo cáo trực quan cho phép bạn đánh giá được hiệu quả công việc của đội ngũ và dễ dàng lọc thông tin
                  theo nhiều tiêu chí khác nhau.
                </p>
                <p>
                  Thông tin báo cáo giúp bạn điều chỉnh chiến lược để giảm thiểu cuộc gọi nhỡ, cải thiện hiệu quả
                  telesales và đạt được KPI đề ra.
                </p>
                <div class="row gx-"><div class="col-md-6"><ul class="ul-style-2 s2"><li><h4>Nhiều Cuộc Đồng Thời</h4>
                  Không lo nghẽn đường dây dù có nhiều cuộc gọi đang diễn ra cùng một lúc với một đầu số duy nhất
                </li> <li><h4>Giờ Làm Việc</h4>
                  Thiết lập giờ nhận cuộc gọi với lời chào và người trực khác nhau
                </li></ul></div> <div class="col-md-6"><ul class="ul-style-2 s2"><li><h4>Điều Hướng Cuộc Gọi Đến</h4>
                  Tự động kết nối với nhân viên gần nhất có tương tác có điện thoại với khách hàng đó
                </li> <li><h4>Định Tuyến Tối Ưu</h4>
                  Bạn có thể tiết kiệm 20% – 50% cước gọi hàng tháng với tính năng tự động dùng số nội mạng để gọi đi 
                </li></ul></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import './style.css'
export default {
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Vui lòng nhập mật khẩu"));
      } else {
        if (this.ruleForm.checkPass !== "") {
          this.$refs.ruleForm.validateField("checkPass");
        }
        callback();
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Mật khẩu nhập lại không khớp"));
      } else if (value !== this.ruleForm.pass) {
        callback(new Error("Mật khẩu nhập lại không khớp !"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        username: "",
        pass: "",
        checkPass: "",
        email: ""
      },
      rules: {
        pass: [{ validator: validatePass, trigger: "blur" }],
        checkPass: [{ validator: validatePass2, trigger: "blur" }]
      }
    };
  },
  methods: {
    register(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$axios.post("/api-login/register", {
              username: this.ruleForm.username,
              email: this.ruleForm.email,
              password: this.ruleForm.pass
            });

            await this.$auth.loginWith("local", {
              data: {
                email: this.ruleForm.email,
                password: this.ruleForm.pass
              }
            });

            this.$message({
              type: "success",
              message: "Đăng ký thành công email:" + this.ruleForm.email
            });
            this.$router.push("/");
          } catch (e) {
            this.error = e.response.data.message;
          }
        } else {
          return false;
        }
      });
    }
  }
};
</script>

<style>
.bg-service .item {
  padding-bottom: 32px;
}
</style>
  