.register-hotline {
    padding: 16px;
    margin: 40px;
  }
  .bg-register {
    width: 100%;
    background-color: var(--bg-color-even);
    border: none;
  }
  section.no-top {
    margin: 50px 0;
  }
  
  .ul-style-2 {
    padding: 0;
    list-style: none;
  }
  
  .ul-style-2 li {
    position: relative;
    display: block;
    margin: 10px 0;
    margin-top: 0;
    padding: 0px;
    padding-left: 40px;
    font-size: 15px;
    line-height: 1.6em;
    margin-bottom: 30px;
    color: gray;
  }
  
  .ul-style-2 li h4 {
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  
  .ul-style-2.s2 li h4 {
    font-weight: 600;
  }
  
  .ul-style-2 li:before {
    position: absolute;
    left: 0;
    font-family: "Font Awesome\ 5 Free";
    content: "\2192";
    margin-right: 12px;
    width: 20px;
    line-height: 1;
    padding: 4px 0;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
  
  .arrow_right:before {
    content: "\2192";
    font-family: "Font Awesome\ 5 Free";
  }
  
  .de-image-text img {
    width: 100%;
    position: relative;
    height: 400px;
    object-fit: cover;
  }
  
  .de-image-text .d-text {
    color: #ffffff;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 40px;
    background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0) 30%,
      rgba(30, 30, 30, 1) 100%
    );
  }
  
  .de-image-text .d-text h4 {
    color: #ffffff;
  }
  .de-image-text .d-text blockquote {
    border: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0;
    line-height: 1.6em;
  }
  .de-image-text {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
  }
  
  a.btn-sc {
    display: inline-block;
    font-family: var(--title-font);
    font-weight: bold;
    padding: 6px 0;
    font-size: 14px;
    color: #222;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #f2f2f2;
    text-decoration: none;
  }
  
  a.btn-sc img {
    width: 20px !important;
    margin-top: -4px;
    margin-right: 8px;
  }
  .btn-fullwidth {
    display: block;
    width: 100%;
  }
  @media (max-width: 768px) {
    .register-hotline {
      padding: 0;
      margin: 5px;
    }
    section#section-hero h1 {
      padding-top: 22px;
    }
    h2 {
      font-size: 28px;
    }
    section.no-top {
      margin: 25px 0;
      border-bottom: 1px solid #8080804a;
    }
    a.btn-main {
      margin-bottom: 28px;
    }
  }