<template>
    <div>
        <div class="page-header dtable text-center"
            style="background-image: url(https://omicall.com/wp-content/uploads/bg-page-header.jpeg);">
            <div class="dcell">
                <div class="container">
                    <h1 class="page-title">Tính năng</h1>
                    <ul id="breadcrumbs" class="breadcrumbs">
                        <li><a href="/">Trang chủ /</a></li>
                        <li class="active">Tính năng</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container feature-domain">
            <div class="row gx-">
              <div class="col-md-6">
                <ul class="ul-style-2 s2">
                    <li>
                        <h4>Click-To-Call
                        </h4>
                        Khác với giải pháp truyền thống cần nhiều thao tác thủ công, bạn có thể gọi khách hàng với một nhấp chuột đầy tiện lợi
                    </li>
                    <li>
                        <h4>Định Tuyến Tối Ưu</h4>
                        Bạn có thể tiết kiệm 20% – 50% cước gọi hàng tháng với tính năng tự động dùng số nội mạng để gọi đi
                    </li>
                    <li>
                        <h4>Tiếp Cận Nhiều Khách Hàng Hơn
                        </h4>
                        Giúp doanh nghiệp tiếp cận hàng ngàn hàng chục ngàn data mỗi ngày với nguồn nhân lực giới hạn. Tính năng Auto Call tự động quay số đồng thời nhiều cuộc gọi và phát kịch bản thu sẵn để thực hiện hàng ngàn cuộc gọi thông báo, giới thiệu dịch vụ cùng lúc
                        <br>
                        Ngoài ra, với tính năng Auto Dialer, chỉ cuộc gọi nào được bắt máy mới kết nối ngược lại với nhân viên, giúp nhân viên tập trung vào cuộc gọi được kết nối với khách hàng và không mất thời gian cho các cuộc không bắt máy, số điện thoại không đúng, bận máy hay thuê bao.
                    </li>
                    <li>
                        <h4>Phân Quyền Và Ẩn Số Điện Thoại Đối Với Nhân Viên
                        </h4>
                        Đối với một số lĩnh vực cụ thể, khi bạn cần mức độ bảo mật giữa các nhân viên cũng như bảo mật số điện thoại khách hàng với một số vai trò nhất định, bạn có thể phân quyền truy cập danh bạ cụ thể cho nhân viên cũng như thiết lập ẩn số điện thoại đối với nhân viên dễ dàng mà hoàn toàn không làm ảnh hưởng đến hiệu quả công việc của đội ngũ.
                    </li>
                    <li>
                        <h4>Tăng Hiệu Suất Của Đội Ngũ
                        </h4>
                        Với giao diện thân thiện và dễ sử dụng, đội ngũ có thể nhanh chóng làm quen và áp dụng giải pháp vào công việc thường ngày. Từ các thao tác phân chia khách hàng, gọi đi, tra cứu thông tin khách đến ghi chú và tạo nhắc nhở đều có thể thực hiện dễ dàng trên ứng dụng.
                    </li>
                    <li>
                        <h4>Cá Nhân Hoá Trải Nghiệm
                        </h4>
                        Mọi tương tác giữa bạn và khách hàng đều được lưu trữ trực quan, giúp đội ngũ có các thông tin cần thiết trong tầm tay để chuẩn bị tốt hơn cho cuộc trò chuyện và mang đến cho khách hàng những trải nghiệm tuyệt vời.
                    </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="ul-style-2 s2">
                    <li>
                        <h4>Phân Loại Cuộc Gọi
                        </h4>
                        Hàng ngày đội ngũ của bạn phải xử lý hàng trăm, hàng ngàn cuộc gọi. Nhân sự có thể gắn nhãn phân loại cho cuộc gọi để lọc nhanh các cuộc gọi cùng nội dung và mục đích chỉ với một click.
                        <br>
                        Ngoài ra, hệ thống cũng phân biệt giúp bạn các khách hàng gọi nhỡ đã được chăm sóc và chưa được chăm sóc.
                    </li>
                    <li>
                        <h4>Quản Lý Người Dùng Với Vai Trò Khác Nhau
                        </h4>
                        Mỗi công ty sẽ có nhiều vai trò phòng ban với quyền truy cập và thao tác trên dữ liệu khác nhau. Từ đó, bạn có thể bảo vệ dữ liệu tốt hơn và giúp nhân sự không bị phân tâm với các thông tin không thuộc trách nhiệm của mình.
                        <br>
                        Ví dụ bạn có thể cài đặt ẩn số điện thoại với các nhân sự part-time, cộng tác viên.
                    </li>
                    <li>
                        <h4>Báo Cáo Thống Kê Cuộc Gọi
                        </h4>
                        Báo cáo trực quan cho phép bạn đánh giá được hiệu quả công việc của đội ngũ và dễ dàng lọc thông tin theo nhiều tiêu chí khác nhau.
                        <br>
                        Thông tin báo cáo giúp bạn điều chỉnh chiến lược để giảm thiểu cuộc gọi nhỡ, cải thiện hiệu quả telesales và đạt được KPI đề ra.
                    </li>
                  <li>
                    <h4>Nhiều Cuộc Đồng Thời</h4>
                    Không lo nghẽn đường dây dù có nhiều cuộc gọi đang diễn ra cùng một lúc với một đầu số duy nhất
                    </li>
                  <li>
                    <h4>Giờ Làm Việc</h4>
                    Thiết lập giờ nhận cuộc gọi với lời chào và người trực khác nhau
                  </li>
                  <li>
                    <h4>Điều Hướng Cuộc Gọi Đến</h4>
                    Tự động kết nối với nhân viên gần nhất có tương tác có điện thoại với khách hàng đó
                  </li>
                  <li>
                    <h4>Định Tuyến Tối Ưu</h4>
                    Bạn có thể tiết kiệm 20% – 50% cước gọi hàng tháng với tính năng tự động dùng số nội mạng để gọi đi 
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </div>
</template>

<script>
  import './3cx/style.css'
export default {
    data() {
        return {
            ruleForm: {
                fullname: "",
                email: "",
                phone: "",
                title: "",
                content: ""
            }
        };
    },
    methods: {
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    alert("submit!");
                } else {
                    console.log("error submit!!");
                    return false;
                }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
    }
};
</script>

<style scope>
.page-header {
    height: 300px;
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.dcell {
    display: table-cell;
    vertical-align: middle;
}

.dcell h1 {
    font-family: var(--title-font);
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: none;
    color: #1a1b1e;
}

.page-header .breadcrumbs {
    margin-bottom: 0;
    margin-top: 30px;
    text-transform: capitalize;
}

.page-header .breadcrumbs li {
    display: inline-block;
}

.page-header .breadcrumbs li a {
    text-decoration: none;
    color: #a5b7d2;
}

.ul-style-2 li {
    height: 219px;
    border-bottom: 1px solid #80808036;
}

@media (max-width: 768px) {
    .ul-style-2 li {
        height: auto;
        padding-bottom: 32px;
    }  
}
</style>
