<template>
  <client-only>
    <div class="container customer-home">
      <div class="title">
        <p>customer</p>
        <h2>Khách hàng nổi bật</h2>
      </div>
      <div class="swiper mySwiper" ref="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://sudospaces.com/karofi-com/2022/03/ta-i-xuo-ng-1.png" alt="img">
            <div class="info-customer">
              <h3>Karofi</h3>
              <a href="#">Xem chi tiết</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://online.haiphatland.com.vn/_next/static/images/logo-874bfe2b990d43de5c7d0b3f6a09e02c.png" alt="img">
            <div class="info-customer">
              <h3>Hải Phát Land</h3>
              <a href="#">Xem chi tiết</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://massgroup.vn/wp-content/uploads/2022/09/LOGO-Massgroup-FINAL-01.webp" alt="img">
            <div class="info-customer">
              <h3>MASSGROUP</h3>
              <a href="#">Xem chi tiết</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://printgo.vn/uploads/file-logo/1/512x512.a12f985f8a27dba639c092e122d9fb15.ai.1.png" alt="img">
            <div class="info-customer">
              <h3>VCSC</h3>
              <a href="#">Xem chi tiết</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://vinhtuong.com/sites/default/files/2023-02/logo-moi-removebg-preview.png" alt="img">
            <div class="info-customer">
              <h3>Vĩnh Tường</h3>
              <a href="#">Xem chi tiết</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://longbiencorp.vn/storage/dich-vu/ct-cp-dt-longbien-logo-only.png" alt="img">
            <div class="info-customer">
              <h3>Long Biên CORP</h3>
              <a href="#">Xem chi tiết</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/VTC_official_logo.svg/2560px-VTC_official_logo.svg.png" alt="img">
            <div class="info-customer">
              <h3>VVTC</h3>
              <a href="#">Xem chi tiết</a>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </client-only>
</template>
<script>
import Swiper from 'swiper/swiper-bundle.min';
import 'swiper/swiper-bundle.min.css';

export default {
  async mounted() {
    await this.$nextTick();
    new Swiper(this.$refs.swiper, {
      autoplay: {
        delay: 2000,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
      },
      loop: true,
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
      },
    });
  },
};
</script>

<style scope>
.customer-home img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
}

.customer-home .swiper-slide {
  padding: 16px;
}

.info-customer h3 {
  font-family: var(--title-font);
  font-size: 24px;
  letter-spacing: 0px;
  text-transform: none;
  color: #1a1b1e;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: initial;
  overflow: hidden;
  margin: 0 0 5px;
  line-height: 1.4;
  min-height: 35px;
}

.info-customer a {
  text-decoration: none;
  color: var(--bg-color-even);
}

.info-customer {
  text-align: center;
  width: 80%;
  background: #fff;
  margin: 0 30px 0;
  padding: 25px 25px 35px;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 15%);
}

.customer-home .swiper-pagination {
  transform: translateY(-18px);
}
</style>