<template>
  <client-only>
    <div class="container partner">
      <div class="swiper mySwiperPartner" ref="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://omicall.com/wp-content/uploads/elementor/thumbs/Logo_Viettel-owultrrq7b2pd29mmt3vhfjkhk2wi89vv2xi43q4jk.png"
              alt="img">
          </div>
          <div class="swiper-slide">
            <img
              src="https://omicall.com/wp-content/uploads/elementor/thumbs/logo-vinaphone101-1-owultrrq7b2pd29mmt3vhfjkhk2wi89vv2xi43q4jk.png"
              alt="img">
          </div>
          <div class="swiper-slide">
            <img
              src="https://omicall.com/wp-content/uploads/elementor/thumbs/LogoGtel101-1-owultspke53zoo89hbii1xb12xy9pxdm77kzldoqdc.png"
              alt="img">
          </div>
          <div class="swiper-slide">
            <img
              src="https://omicall.com/wp-content/uploads/elementor/thumbs/VimpelCom101-owultspke53zoo89hbii1xb12xy9pxdm77kzldoqdc.png"
              alt="img">
          </div>
          <div class="swiper-slide">
            <img
              src="https://omicall.com/wp-content/uploads/elementor/thumbs/logo-vinaphone101-1-owultrrq7b2pd29mmt3vhfjkhk2wi89vv2xi43q4jk.png"
              alt="img">
          </div>
          <div class="swiper-slide">
            <img
              src="https://omicall.com/wp-content/uploads/elementor/thumbs/Vietnamobile_Logo101-owultspke53zoo89hbii1xb12xy9pxdm77kzldoqdc.png"
              alt="img">
          </div>
          <div class="swiper-slide">
            <img
              src="https://omicall.com/wp-content/uploads/elementor/thumbs/VimpelCom101-owultspke53zoo89hbii1xb12xy9pxdm77kzldoqdc.png"
              alt="img">
          </div>
          <div class="swiper-slide">
            <img
              src="https://omicall.com/wp-content/uploads/elementor/thumbs/logo-vinaphone101-1-owultrrq7b2pd29mmt3vhfjkhk2wi89vv2xi43q4jk.png"
              alt="img">
          </div>
        </div>
        <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
      </div>
    </div>
  </client-only>
</template>
<script>
import Swiper from 'swiper/swiper-bundle.min';
import 'swiper/swiper-bundle.min.css';

export default {
  async mounted() {
    await this.$nextTick();
    new Swiper(".mySwiperPartner", {

      autoplay: {
        delay: 2000,
      },
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      // Default parameters
      slidesPerView: 1,
      spaceBetween: 10,
      // Responsive breakpoints
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 2,
          spaceBetween: 20
        },
        // when window width is >= 480px
        480: {
          slidesPerView: 3,
          spaceBetween: 30
        },
        // when window width is >= 640px
        640: {
          slidesPerView: 3,
          spaceBetween: 40
        },
        992: {
          slidesPerView: 6,
          spaceBetween: 40
        }
      },
    });
  },
};
</script>

<style scope>
.partner {
  padding: 50px
}

@media (max-width: 768px) {
  .partner {
    padding: 25px !important;
  }
}
</style>