<template>
    <div class="bg-service">
        <div class="container">
            <div class="title">
                <p>service</p>
                <h2>Dịch vụ</h2>
            </div>
            <div class="row service-home">
                <div class="col-lg-4">
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/icon/headphone.png" alt="icon" />
                            <h3>Tổng đài 3CX</h3>
                            <p>
                                Cước Phí Gọi Ra Giá Rẻ, Đảo Số Tăng Tỉ Lệ Nhấc Máy, Gọi Ra Không
                                Lo Bị Khoá Số. Giải Pháp Cuộc Gọi Alohub Telesale - Phần Mềm Hỗ
                                Trợ Quản Lý Bán Hàng. Liên Hệ Ngay!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/icon/worldwide_networking.png" alt="icon" />
                            <h3>Tổng đài cloud</h3>
                            <p>
                                Tổng đài cloud là hệ thống tổng đài điện thoại được lưu trữ trên
                                nền tảng đám mây được cung cấp và truy cập hoàn toàn thông qua
                                internet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="icon">
                            <img src="http://themelooks.net/demo/hoskia/wp-content/uploads/2018/04/feature-icon-03.png"
                                alt="icon" />
                            <h3>Đầu số</h3>
                            <p>
                                Kho Sim là kho sim Mobifone giá tốt lớn nhất hiện tại cung cấp
                                đầy đủ các bộ đầu số cho quý khách sự lựa chọn đa dạng và phong
                                phú
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="icon">
                            <img src="http://themelooks.net/demo/hoskia/wp-content/uploads/2018/04/feature-icon-03.png"
                                alt="icon" />
                            <h3>Thiết bị</h3>
                            <p>
                                Tổng đài cứng: Là một thiết bị phần cứng được đặt tại văn phòng
                                của doanh nghiệp, được kết nối với Modem Internet, chi phí mua
                                tổng đài thường dựa
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/icon/hosting.png" alt="icon" />
                            <h3>Tên miền</h3>
                            <p>
                                Đơn vị chuyên cung cấp hosting, tên miền, hỗ trợ khách hàng tốt
                                nhiều ưu đãi giảm giá
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="icon">
                            <img src="http://themelooks.net/demo/hoskia/wp-content/uploads/2018/04/feature-icon-03.png"
                                alt="icon" />
                            <h3>SSL</h3>
                            <p>
                                Chứng nhận SSL (Lớp cổng bảo mật) là một chứng nhận số nhằm xác
                                thực danh tính của một website và mã hóa các thông tin được gửi
                                đến máy chủ bằng công nghệ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scope>
.service-home .item .icon img {
    width: 50px;
    height: 50px;
}

.service-home .item h3 {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    margin: 18px 0;
}

.service-home .item p {
    text-align: justify;
    color: #606266;
}

@media (max-width: 768px) {
    .item {
        border-bottom: 1px solid #80808038;
        margin-bottom: 16px;
    }

    .service-home .col-lg-4:last-child .item {
        border: none;
    }
}
</style>
