<template>
  <client-only>
    <div class="pd-16">
      <div class="swiper mySwiperSlide" ref="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="~/assets/img/slide.png" alt="img">
            <div class="info">
              <span>Dịch vụ tổng đài ảo thông minh</span>
              <h5>
                NỀN TẢNG QUẢN LÝ GIAO TIẾP ĐA KÊNH CHO DOANH NGHIỆP
              </h5>
              <p>
                Giải pháp tổng đài chuyên nghiệp, giúp tối ưu chi phí vận hành, nâng cao hiệu quả chăm sóc khách hàng,
                gia tăng năng lực cạnh tranh cho doanh nghiệp thời đại 4.0.
              </p>
              <button type="button" class="btn btn-success" @click="showFormContact">Dùng thử miễn phí</button>
              <button type="button" class="btn btn-primary" @click="showFormContact">Liên hệ</button>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="~/assets/img/nuxt.png" alt="img">
            <div class="info">
              <span>Dịch vụ tổng đài ảo thông minh</span>
              <h5>
                NỀN TẢNG QUẢN LÝ GIAO TIẾP ĐA KÊNH CHO DOANH NGHIỆP
              </h5>
              <p>
                Giải pháp tổng đài chuyên nghiệp, giúp tối ưu chi phí vận hành, nâng cao hiệu quả chăm sóc khách hàng,
                gia tăng năng lực cạnh tranh cho doanh nghiệp thời đại 4.0.
              </p>
              <button type="button" class="btn btn-success" @click="showFormContact">Dùng thử miễn phí</button>
              <button type="button" class="btn btn-primary" @click="showFormContact">Liên hệ</button>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="~/assets/img/slide.png" alt="img">
            <div class="info">
              <span>Dịch vụ tổng đài ảo thông minh</span>
              <h5>
                NỀN TẢNG QUẢN LÝ GIAO TIẾP ĐA KÊNH CHO DOANH NGHIỆP
              </h5>
              <p>
                Giải pháp tổng đài chuyên nghiệp, giúp tối ưu chi phí vận hành, nâng cao hiệu quả chăm sóc khách hàng,
                gia tăng năng lực cạnh tranh cho doanh nghiệp thời đại 4.0.
              </p>
              <button type="button" class="btn btn-success" @click="showFormContact">Dùng thử miễn phí</button>
              <button type="button" class="btn btn-primary" @click="showFormContact">Liên hệ</button>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </client-only>
</template>

<script>
import Swiper from 'swiper/swiper-bundle.min';
import 'swiper/swiper-bundle.min.css';

export default {
  async mounted() {
    await this.$nextTick();
    new Swiper(this.$refs.swiper, {
      autoplay: {
        delay: 3000,
      },
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  },
  methods: {
    showFormContact() {
      this.$bus.$emit('form-contact-event')
    }
  }
};
</script>

<style scope>
.mySwiperSlide.swiper {
  width: 100%;
  height: 700px;
}

.mySwiperSlide img {
  height: auto;
  padding: 50px;
  width: 50%;
}

.mySwiperSlide .info span {
  color: #8A8A8A;
 font-family: var(--title-font);
  font-size: 18px;
  font-weight: 700;
}

.mySwiperSlide .info h5 {
  color: #050101;
 font-family: var(--title-font);
  font-size: 2rem;
  font-weight: 500;
  max-width: 460px;
}

.mySwiperSlide .info {
  text-align: left;
}

.mySwiperSlide .info p {
  font-size: 16px;
  font-weight: 400;
  max-width: 500px;
}

.mySwiperSlide .info button.btn.btn-success,
.mySwiperSlide .info button.btn.btn-primary {
  -webkit-box-shadow: 8px 8px 18px 0px #e1c4eb;
  border: none;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 101px;
  margin-bottom: 16px;
  background: #6b1b97;
}

.mySwiperSlide .info button.btn.btn-primary {
  background: #6b1b97;
}

.mySwiperSlide .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media (max-width: 768px) {

  .mySwiperSlide .info button.btn.btn-success,
  .mySwiperSlide .info button.btn.btn-primary {
    padding: 6px 22px;
    margin-bottom: 10px;
    font-size: 13px;
  }

  .mySwiperSlide img {
    width: auto;
    height: 270px !important;
    padding: 0;
  }

  .mySwiperSlide .swiper-slide {
    display: block;
  }

  .mySwiperSlide .info h5 {
    font-size: 20px;
    margin: 16px auto;
  }

  .mySwiperSlide .info span {
    font-size: 14px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }

  .mySwiperSlide.swiper {
    height: auto;
  }

  .pd-16 {
    padding: 16px;
  }

  .mySwiperSlide .swiper-pagination {
   top: 51%;
  }

  .mySwiperSlide .info {
    text-align: center;
  }

  .mySwiperSlide .info p {
    max-width: 100%;
  }
}
</style>
