<template>
    <div>
        <div class="page-header dtable text-center"
            style="background-image: url(https://omicall.com/wp-content/uploads/bg-page-header.jpeg);">
            <div class="dcell">
                <div class="container">
                    <p>Đăng ký tên miền của bạn ngay hôm nay</p>
                    <h1 class="page-title">Tìm kiếm <span class="id-color">tên miền</span> hoàn hảo của bạn</h1>
                </div>
                <el-form label-position="top" :model="ruleForm" ref="ruleForm" class="demo-ruleForm">
                    <el-form-item prop="domain">
                        <el-input placeholder="Nhập để tìm kiếm" v-model="ruleForm.domain"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm')">
                            <i class="arrow_right"></i>
                        </el-button>
                    </el-form-item>
                </el-form>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-3 mb-sm-30">
                            <div class="box-url text-center"
                                >
                                <span class="tld-domain">.com</span>
                                <p class="tld-subtitle">Special offer</p>
                                <p class="tld-price id-color">$6.95/yr</p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-3 mb-sm-30"
                            >
                            <div class="box-url text-center"
                                >
                                <span class="tld-domain">.net</span>
                                <p class="tld-subtitle">Special offer</p>
                                <p class="tld-price id-color">$6.95/yr</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3 mb-sm-30"
                            >
                            <div class="box-url text-center"
                                >
                                <span class="tld-domain">.live</span>
                                <p class="tld-subtitle">Special offer</p>
                                <p class="tld-price id-color">$6.95/yr</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3 mb-sm-30"
                            >
                            <div class="box-url text-center"
                                >
                                <span class="tld-domain">.club</span>
                                <p class="tld-subtitle">Special offer</p>
                                <p class="tld-price id-color">$6.95/yr</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3 mb-sm-30"
                            >
                            <div class="box-url text-center"
                                >
                                <span class="tld-domain">.store</span>
                                <p class="tld-subtitle">Special offer</p>
                                <p class="tld-price id-color">$6.95/yr</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3 mb-sm-30"
                            >
                            <div class="box-url text-center"
                                >
                                <span class="tld-domain">.xyz</span>
                                <p class="tld-subtitle">Special offer</p>
                                <p class="tld-price id-color">$6.95/yr</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container feature-domain" >
            <div class="row" >
                <div class="col-lg-6 offset-lg-3 text-center"
                    >
                    <h5 class="s2">
                        Tính năng tên miền
                    </h5>
                    <h2>Giải phóng tiềm năng tối đa của <span class="id-color">tên miền</span> của bạn</h2>
                    <div class="spacer-20" ></div>
                </div>
            </div>
            <div class="row gx-" >
                <div class="col-md-4" >
                    <ul class="ul-style-2 s2">
                        <li>
                            <h4>Chuyển tiếp email miễn phí</h4>
                            Cillum consectetur laborum proident incididunt dolore velit ut
                            culpa.
                        </li>
                        <li>
                            <h4>Chuyển tiếp web miễn phí
                            </h4>Cillum consectetur laborum proident incididunt dolore velit ut
                            culpa.
                        </li>
                        <li>
                            <h4>Domain Parking</h4>Cillum consectetur laborum proident incididunt dolore velit ut culpa.
                        </li>
                    </ul>
                </div>
                <div class="col-md-4" >
                    <ul class="ul-style-2 s2">
                        <li>
                            <h4>Thiết lập nhiều trang web</h4>Cillum consectetur laborum proident incididunt dolore velit
                            ut culpa.
                        </li>
                        <li>
                            <h4>Toàn quyền kiểm soát tên miền của bạn</h4>Cillum consectetur laborum proident incididunt dolore velit
                            ut culpa.
                        </li>
                        <li>
                            <h4>Tên miền phụ không giới hạn</h4>Cillum consectetur laborum proident incididunt dolore velit ut
                            culpa.
                        </li>
                    </ul>
                </div>
                <div class="col-md-4" >
                    <ul class="ul-style-2 s2">
                        <li>
                            <h4>Hỗ trợ khách hàng 24/7</h4>Cillum consectetur laborum proident incididunt dolore velit ut
                            culpa.
                        </li>
                        <li>
                            <h4>Đảm bảo hoàn tiền trong 30 ngày
                            </h4>Cillum consectetur laborum proident incididunt dolore
                            velit ut culpa.
                        </li>
                        <li>
                            <h4>Free Google Ads Voucher</h4>Cillum consectetur laborum proident incididunt dolore velit
                            ut culpa.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <section id="section-banner" class="no-bottom no-top bgcustom" data-bgcolor="#DBEDF7" style="background-color: rgb(219, 237, 247); background-size: 100%; background-repeat: no-repeat;">
            <div class="container" >
                <div class="row align-items-center g-custom-x" >
                    <div class="col-lg-4 d-none d-lg-block d-xl-block  text-center" >
                        <img class="relative img-fluid mt-60" src="~/assets/img/1.png" alt="">
                    </div>

                    <div class="col-lg-4 col-md-6" >
                        <div class="p-sm-30 pb-sm-0 mb-sm-0" >
                            <h2><span class="id-color">30 days</span> money back guarantee</h2>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" >
                        <div class="p-sm-30" >
                            <div class="spacer-20 sm-hide" ></div>
                            <p class="lead">If you not satisfy, we will refund your payment. No hassle, no risk. You can cancel plan at any time.</p>
                            <div class="spacer-half" ></div>
                            <a class="btn-main" href="#">Get Started</a>
                            <p class="d-small mt20">*Cancellation must be within a maximum of 30 days</p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            ruleForm: {
                domain: ""
            }
        };
    },
    methods: {
        submitForm(domain) {
            this.$refs[domain].validate(valid => {
                if (valid) {
                    alert("submit!");
                } else {
                    console.log("error submit!!");
                    return false;
                }
            });
        }
    }
};
</script>

<style scope>
.dcell form {
    margin: auto;
    display: flex;
    justify-content: center;
}

.dcell form input {
    width: 450px;
}

.box-url {
    position: relative;
    padding: 10px;
    background: #ffffff;
    display: block;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.box-url .tld-domain {
    color: #161C2D;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.box-url p.tld-subtitle {
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 10px;
}

.box-url p.tld-price {
    font-size: 14px;
    font-weight: bold;
}

.soft-shadow {
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 5%), 0 1.5rem 2.2rem rgb(0 0 0 / 10%);
}

.ul-style-2 {
    padding: 0;
    list-style: none;
}

.ul-style-2 li {
    position: relative;
    display: block;
    margin: 10px 0;
    margin-top: 0;
    padding: 0px;
    padding-left: 40px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.6em;
}

.ul-style-2 li h4 {
    font-size: 18px;
    font-weight: 500;
}

.ul-style-2.s2 li h4 {
    font-weight: 600;
}

.ul-style-2.s2 li {
    margin-bottom: 30px;
}

.ul-style-2 li:before {
    position: absolute;
    left: 0;
    font-family: 'Font Awesome\ 5 Free';
    content: "\2192";
    margin-right: 12px;
    width: 20px;
    line-height: 1;
    padding: 4px 0;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.arrow_right:before {
    content: "\2192";
    font-family: 'Font Awesome\ 5 Free';
}

.dcell p {
    margin: 0;
}

.dcell h1 {
    font-size: 40px;
    font-weight: bold;
}

span.id-color {
    color: var(--bg-color-even);
}

.dcell form input {
    width: 450px;
    font-size: 20px;
    padding: 25px 20px 25px 20px;
    height: 30px;
    float: left;
    display: table-cell;
    -webkit-border-radius: 30px 0 0 30px;
    background: #ffffff;
    border: none;
}

.arrow_right:before {
    content: "\2192";
    font-family: 'Font Awesome\ 5 Free';
    font-size: 45px;
    display: table-caption;
    width: 40px;
    height: 22px;
    vertical-align: middle;
    font-weight: bold;
    transform: translate(0px, -20px);
}

.dcell from button {
    width: 96px;
    border-radius: 0 100px 100px 0;
}

.dcell {
    padding: 100px 0;
}

h5.s2 {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 12px;
    font-weight: 500;
}
.feature-domain h2 {
    font-size: 40px;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
    line-height: 53.08px;
}
.mt-60 {
    margin-top: -60px;
}
section#section-banner {
    margin-top: 80px;
}
section#section-banner h2 {
    font-size: 40px;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
    line-height: 53.08px;
}
p.lead {
    font-size: 18px;
    line-height: 1.7em;
    margin-top: 0;
    font-weight: 500;
    color: #606060;
    letter-spacing: -0.2px;
}

p.d-small {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 16px;
}
.dcell button {
    border-radius: 0 50px 50px 0;
}
@media (max-width: 768px) {
    .dcell {
        padding: 50px 0;
    }
    .dcell form input{
        width: 100%;
    }
    h1.page-title, .feature-domain h2, section#section-banner h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .box-url {
        margin-bottom: 22px;
    }
    section#section-banner {
        margin-top: 0px;
        padding-top: 16px;
    }
}
</style>
