<template>
  <div>
    <section
      id="section-hero"
      aria-label="section"
      class="bgcustom"
      style="background: url('https://madebydesignesia.com/themes/hostco/images/background/6.jpg') center top / 100% no-repeat;"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mb-sm-30">
            <h1>Phần mềm Tổng đài ảo</h1>
            <p>
              Giải pháp giúp tiết kiệm 50% chi phí, nâng cao chất lượng cuộc gọi
              & quản lý telesales hiệu quả cho doanh nghiệp
            </p>
            <a class="btn-main" href="#">Get Started</a>
          </div>
          <div class="col-lg-4 offset-lg-2">
            <div class="spacer-single sm-hide"></div>
            <div
              class="register-hotline padding40 rounded-3 shadow-soft text-center bgcustom"
              data-bgcolor="#ffffff"
            >
              <h4>ĐĂNG KÝ DÙNG THỬ MIỄN PHÍ 15 NGÀY NGAY</h4>
              <div class="spacer-10"></div>
              <el-form
                :model="ruleForm"
                status-icon
                :rules="rules"
                ref="ruleForm"
                class="form"
              >
                <el-form-item
                  :rules="[
                    {
                      required: true,
                      message: 'Không được để trống !',
                      trigger: 'blur'
                    }
                  ]"
                >
                  <el-input
                    placeholder="Tên đăng nhập"
                    v-model="ruleForm.username"
                  ></el-input>
                </el-form-item>

                <el-form-item
                  prop="email"
                  :rules="[
                    {
                      required: true,
                      message: 'Nhập đúng định dạng email',
                      trigger: 'blur'
                    },
                    {
                      type: 'email',
                      message: 'Nhập đúng định dạng email',
                      trigger: ['blur', 'change']
                    }
                  ]"
                >
                  <el-input
                    placeholder="Email hoặc số điện thoại"
                    v-model="ruleForm.email"
                  ></el-input>
                </el-form-item>
                <el-form-item
                  :rules="[
                    {
                      required: true,
                      message: 'Vui lòng nhập mật khẩu !',
                      trigger: 'blur'
                    }
                  ]"
                  prop="pass"
                >
                  <el-input
                    type="password"
                    placeholder="Nhập mật khẩu"
                    v-model="ruleForm.pass"
                    autocomplete="off"
                  ></el-input>
                </el-form-item>
                <el-form-item prop="checkPass">
                  <el-input
                    type="password"
                    placeholder="Nhập lại mật khẩu"
                    v-model="ruleForm.checkPass"
                    autocomplete="off"
                  ></el-input>
                </el-form-item>

                <el-form-item style="margin-bottom: 10px">
                  <el-button
                    class="btn-submit-login bg-register"
                    type="primary"
                    @click="register('ruleForm')"
                    >Đăng ký</el-button
                  >
                  <div class="title-line">Hoặc đăng nhập với</div>
                  <div class="row g-2">
                    <div class="col-lg-6">
                      <a class="btn-sc btn-fullwidth mb10" href="#"
                        ><img
                          style="width: 30px"
                          src="https://madebydesignesia.com/themes/hostco/images/svg/google_icon.svg"
                          alt=""
                        />Google</a
                      >
                    </div>
                    <div class="col-lg-6">
                      <a class="btn-sc btn-fullwidth mb10" href="#"
                        ><img
                          style="width: 30px"
                          src="https://madebydesignesia.com/themes/hostco/images/svg/facebook_icon.svg"
                          alt=""
                        />Facebook</a
                      >
                    </div>
                  </div>
                </el-form-item>
              </el-form>
            </div>
            <div class="spacer-single sm-hide"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="no-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 wow fadeInUp animated">
            <img
              class="img-fluid anim-up-down"
              src="https://w.ladicdn.com/s900x650/5d23f118788b66747bec9426/feature_agent-20220111081345.png"
              alt=""
            />
          </div>
          <div class="col-lg-6 wow fadeInUp animated" data-wow-delay=".3s">
            <div class="p-sm-30 pb-sm-0 mb-sm-0">
              <h2>Tổng đài ảo là gì?</h2>
              <p>
                Tổng đài ảo là gì?Phần mềm tổng đài ảo là phần mềm tổng đài điện
                thoại cho doanh nghiệp sử dụng trên nền tảng cloud và được cung
                cấp qua internet thay vì sử dụng đường dây điện thoại kéo từ bưu
                điện như thông thường. Tổng đài ảo cho phép nhân viên thực
                hiện/tiếp nhận cuộc gọi của khách hàng bằng số điện thoại di
                động, app điện thoại, laptop hoặc máy tính bảng.
              </p>
              <div class="spacer-half"></div>
              <a class="btn-main" href="#">Đăng kí nhận Demo ngay</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="no-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 wow fadeInUp animated" data-wow-delay=".3s">
            <div class="p-sm-30 pb-sm-0 mb-sm-0">
              <h2>Tính năng nghe gọi</h2>
              <p>
                Đầy đủ các tính năng gọi thoại của 1 tổng đài call center cao
                cấp như nghe/gọi trên web/app cho nhân viên, giám sát cuộc gọi
                cho supervisor, cấu hình IVR cho admin,...
              </p>
              <div class="spacer-half"></div>
              <a class="btn-main" href="#">Đăng kí nhận Demo ngay</a>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp animated">
            <img
              class="img-fluid anim-up-down"
              src="https://w.ladicdn.com/s900x650/5d23f118788b66747bec9426/feature_agent-20220111081345.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="container feature-domain">
        <div class="row gx-">
          <div class="col-md-4">
            <ul class="ul-style-2 s2">
              <li>
                <h4>Số Hotline</h4>
                Hỗ trợ thiết lập nhiều đầu số khác nhau (1800, 1900, số cố định,
                số di động).
              </li>
              <li>
                <h4>Ghi âm cuộc gọi</h4>
                Ghi âm và ghi hình tất cả các cuộc gọi. Cho phép lưu trữ và nghe
                lại file ghi âm nhằm phục vụ công tác quản lý.
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="ul-style-2 s2">
              <li>
                <h4>IVR</h4>
                Thiết lập hệ thống tổng đài trả lời tự động, điều hướng cuộc gọi
                đến đúng bộ phận chuyên trách.
              </li>
              <li>
                <h4>Cuộc gọi hội nghị</h4>
                Thiết lập cuộc gọi nhiều bên giữa giám sát viên, tổng đài viên
                và khách hàng.
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="ul-style-2 s2">
              <li>
                <h4>ACD (phân phối cuộc gọi tự động)</h4>
                Tính năng định tuyến thông minh cho phép khách hàng kết nối với
                nhân viên hỗ trợ gần nhất, cho nhóm hoặc bộ phận chuyên trách/ưu
                tiên.
              </li>
              <li>
                <h4>Hệ thống quay số tự động</h4>
                Tự động gọi ra cho khách hàng với 4 tùy chọn cơ chế cuộc gọi.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="section-testimonials" class="no-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 offset-lg-3 text-center">
            <h2>Ứng dụng của tổng đài ảo</h2>
            <p>
              Với những ưu điểm của mình, phần mềm tổng đài ảo đang dần thay thế
              tổng đài truyền thống và được nhiều doanh nghiệp ứng dụng trong
              nhiều lĩnh vực và quy mô khác nhau, đáp ứng quy trình và nghiệp vụ
              telesales, chăm sóc khách hàng của các doanh nghiệp hiện nay.
            </p>
            <div class="spacer-20"></div>
          </div>

          <div class="col-md-4">
            <div class="de-image-text">
              <div class="d-text">
                <h4>Bất động sản</h4>
                <blockquote>
                  Với dịch vụ tổng đài ảo, doanh nghiệp có thể thực hiện các
                  cuộc gọi tự động hàng loạt tới khách hàng, giúp kết nối 1
                  lượng khách hàng lớn, qua đó giúp giảm thời gian và chi phí
                  tiếp cận khách hàng tiềm năng.
                </blockquote>
              </div>
              <img
                src="https://w.ladicdn.com/s700x550/5d23f118788b66747bec9426/1-20220112073416.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="de-image-text">
              <div class="d-text">
                <h4>Thương mại điện tử</h4>
                <blockquote>
                  Cho phép phân luồng nhánh tổng đài để khách hàng có thể liên
                  hệ nhanh nhất tới bộ phận nhánh dịch vụ cần hỗ trợ. Định tuyến
                  cuộc gọi của khách hàng về nhân viên chăm sóc gần nhất. Thực
                  hiện cuộc gọi tự động tới khách hàng để nhắc lịch đặt xe,
                  thông báo mã chuyến bay, xác nhận mã đơn hàng tự động…
                </blockquote>
              </div>
              <img
                src="https://w.ladicdn.com/s700x550/5d23f118788b66747bec9426/2-20220112074108.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="de-image-text">
              <div class="d-text">
                <h4>Spa làm đẹp</h4>
                <blockquote>
                  Khi tất cả tổng đài viên đang bận mà có khách hàng gọi đến, hệ
                  thống tổng đài sẽ chuyển cuộc gọi vào hàng đợi để tổng đài
                  viên sau khi kết thúc cuộc gọi trước đó có thể gọi lại cho
                  khách hàng qua thông tin đã được lưu lại trên hệ thống.
                </blockquote>
              </div>
              <img
                src="https://w.ladicdn.com/s700x550/5d23f118788b66747bec9426/3-20220112074217.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="de-image-text">
              <div class="d-text">
                <h4>Tư vấn Luật</h4>
                <blockquote>
                  Khi người dân gọi điện đến tổng đài nhờ tư vấn luật pháp, hệ
                  thống sẽ phát kịch bản trả lời tự động nhờ tính năng IVR: “Cảm
                  ơn quý khách đã gọi điện đến tổng đài tư vấn luật của Công ty
                  luật ACB, để được tư vấn về Luật đất đai bấm phím 1,…” Từ đó
                  hệ thống tổng đài ảo sẽ kết nối người gọi đến chuyên gia lĩnh
                  vực đó.
                </blockquote>
              </div>
              <img
                src="https://w.ladicdn.com/s700x550/5d23f118788b66747bec9426/4-20220112074236.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="de-image-text">
              <div class="d-text">
                <h4>Dịch vụ vận tải</h4>
                <blockquote>
                  Sau khi khách hàng gọi điện lên đặt chỗ, các thông tin cá nhân
                  và lịch trình di chuyển của khách hàng sẽ được tự động lưu
                  lại. Những lần sau, khi khách hàng gọi đến, tổng đài ảo sẽ tự
                  động hiển thị thông tin chuyến đi đã lưu trước đó. Đồng thời,
                  tổng đài ảo có thể tích hợp với CRM giúp DN đồng bộ dữ liệu và
                  CSKH tốt hơn.
                </blockquote>
              </div>
              <img
                src="https://w.ladicdn.com/s700x550/5d23f118788b66747bec9426/5-20220112074233.jpeg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="de-image-text">
              <div class="d-text">
                <h4>Y tế</h4>
                <blockquote>
                  Khi người bệnh gọi điện đến tổng đài, nhân viên sẽ kiểm tra
                  lịch khám còn trống và xếp chỗ cho người bệnh ở xa. Ngoài ra,
                  hệ thống tổng đài ảo còn kết nối người bệnh và bác sĩ đến gần
                  nhau hơn, người bệnh có thể cập nhật tình trạng bệnh lý của
                  mình cho bác sĩ mà không cần đến cơ sở y tế.
                </blockquote>
              </div>
              <img
                src="https://w.ladicdn.com/s700x550/5d23f118788b66747bec9426/6-20220112074415.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Vui lòng nhập mật khẩu"));
      } else {
        if (this.ruleForm.checkPass !== "") {
          this.$refs.ruleForm.validateField("checkPass");
        }
        callback();
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Mật khẩu nhập lại không khớp"));
      } else if (value !== this.ruleForm.pass) {
        callback(new Error("Mật khẩu nhập lại không khớp !"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        username: "",
        pass: "",
        checkPass: "",
        email: ""
      },
      rules: {
        pass: [{ validator: validatePass, trigger: "blur" }],
        checkPass: [{ validator: validatePass2, trigger: "blur" }]
      }
    };
  },
  methods: {
    register(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$axios.post("/api-login/register", {
              username: this.ruleForm.username,
              email: this.ruleForm.email,
              password: this.ruleForm.pass
            });

            await this.$auth.loginWith("local", {
              data: {
                email: this.ruleForm.email,
                password: this.ruleForm.pass
              }
            });

            this.$message({
              type: "success",
              message: "Đăng ký thành công email:" + this.ruleForm.email
            });
            this.$router.push("/");
          } catch (e) {
            this.error = e.response.data.message;
          }
        } else {
          return false;
        }
      });
    }
  }
};
</script>

<style>
.register-hotline {
  padding: 16px;
  margin: 40px;
}
.bg-register {
  width: 100%;
  background-color: var(--bg-color-even);
  border: none;
}
section.no-top {
  margin: 50px 0;
}

.ul-style-2 {
  padding: 0;
  list-style: none;
}

.ul-style-2 li {
  position: relative;
  display: block;
  margin: 10px 0;
  margin-top: 0;
  padding: 0px;
  padding-left: 40px;
  font-size: 15px;
  line-height: 1.6em;
  margin-bottom: 30px;
  color: gray;
}

.ul-style-2 li h4 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.ul-style-2.s2 li h4 {
  font-weight: 600;
}

.ul-style-2 li:before {
  position: absolute;
  left: 0;
  font-family: "Font Awesome\ 5 Free";
  content: "\2192";
  margin-right: 12px;
  width: 20px;
  line-height: 1;
  padding: 4px 0;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.arrow_right:before {
  content: "\2192";
  font-family: "Font Awesome\ 5 Free";
}

.de-image-text img {
  width: 100%;
  position: relative;
  height: 400px;
  object-fit: cover;
}

.de-image-text .d-text {
  color: #ffffff;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 40px;
  background: linear-gradient(
    0deg,
    rgba(30, 30, 30, 0) 30%,
    rgba(30, 30, 30, 1) 100%
  );
}

.de-image-text .d-text h4 {
  color: #ffffff;
}
.de-image-text .d-text blockquote {
  border: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  padding: 0;
  line-height: 1.6em;
}
.de-image-text {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}

a.btn-sc {
  display: inline-block;
  font-family: var(--title-font);
  font-weight: bold;
  padding: 6px 0;
  font-size: 14px;
  color: #222;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #f2f2f2;
  text-decoration: none;
}

a.btn-sc img {
  width: 20px !important;
  margin-top: -4px;
  margin-right: 8px;
}
.btn-fullwidth {
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  .register-hotline {
    padding: 0;
    margin: 5px;
  }
  section#section-hero h1 {
    padding-top: 22px;
  }
  h2 {
    font-size: 28px;
  }
  section.no-top {
    margin: 25px 0;
    border-bottom: 1px solid #8080804a;
  }
  a.btn-main {
    margin-bottom: 28px;
  }
}
</style>
