@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
  --title-font:'Open Sans', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --border-default: solid 1px rgba(30, 30, 30, 1);
  --bg-color-even: #6b1b97;
  --bg-color-odd: #F4F4F4;
  --bg-color-dark: #161C2D;
  --body-font-color: #6D7C90;
  --dark-body-font-color: rgba(255, 255, 255, .5);
}

.el-button--primary {
    color: #FFF;
    background-color: var(--bg-color-even) !important;
    border-color: var(--bg-color-even) !important;
}

body {
  font-family: var(--body-font);
}

h1,p,li,a {
  font-family: var(--title-font);
}

h4 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 26px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 40px;
  letter-spacing: -1.5px;
  margin-bottom: 20px;
  line-height: 53.08px;
}

ul {
  margin: 0;
  padding: 0;
}

.el-main {
  padding: 0 !important;
}

.title {
  padding: 32px 0;
  text-align: center;
}

.title p {
  font-weight: bold;
  color: #a5b7d2;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.title h2 {
  font-family: var(--title-font);
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 1.2;
  text-transform: none;
  color: #1a1b1e;
}

.bg-service {
  background: linear-gradient(0deg,
      rgb(167 31 237 / 7%) 0%,
      rgb(32 83 210 / 6%) 100%);
  padding-bottom: 40px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
  /* border: 1px solid; */
}

.swiper-button-next,
.swiper-button-prev {
  width: 46px !important;
  height: 46px !important;
  background: #fff;
  color: var(--bg-color-even);
  border: none;
  outline: none;
  -webkit-border-radius: 50%;
  transition: all 0.3s linear;
  -webkit-box-shadow: 6px 6px 13px 0px rgb(42 67 113 / 15%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px !important;
}

.page-header {
  height: 300px;
  display: table;
  width: 100%;
  margin-bottom: 30px;
}

.dcell {
  display: table-cell;
  vertical-align: middle;
}

.dcell h1 {
  font-family: var(--title-font);
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.2;
  text-transform: none;
  color: #1a1b1e;
}

.page-header .breadcrumbs {
  margin-bottom: 0;
  margin-top: 30px;
  text-transform: capitalize;
}

.page-header .breadcrumbs li {
  display: inline-block;
}

.page-header .breadcrumbs li a {
  text-decoration: none;
  color: #a5b7d2;
}

a.btn-main:hover, .btn-main:hover {
  color: #fff;
  box-shadow: 2px 2px 20px 0px #ac34ee61;
}

a.btn-main {
  display: inline-block;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  outline: 0;
  font-weight: 800;
  text-decoration: none;
  padding: 6px 40px 6px 40px;
  font-size: 14px;
  border: none;
  background: var(--bg-color-even);
}

@media (max-width: 768px) {
  .dcell h1 {
    font-size: 18px;
  }
  .page-header .breadcrumbs {
    font-size: 14px;
    margin-top: 0;
  }
  .page-header {
    height: auto;
    padding: 24px;
    margin-bottom: 0;
  }
  .el-dialog {
    width: 100% !important;
  }
  
  a.parents:hover ul {
    display: block !important;
    z-index: 9999;
    width: 100%;
    background: #fff;
    left: 0;
    top: 46px;
    padding-top: 0px;
    border: 1px solid #80808073;
  }

  a.parents:hover ul li a{
    border: none !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  .title {
    padding: 16px;
  }

  .title h2 {
    font-size: 22px !important;
  }

  .title p {
    font-size: 12px !important;
  }

  .bg-service {
    padding-bottom: 0;
  }
}