<template>
  <div>
    <div
      class="page-header dtable text-center"
      style="background-image: url(https://omicall.com/wp-content/uploads/bg-page-header.jpeg);"
    >
      <div class="dcell">
        <div class="container">
          <h1 class="page-title">Bảng giá dịch vụ</h1>
          <ul id="breadcrumbs" class="breadcrumbs">
            <li><a href="/">Home /</a></li>
            <li><a href="/">Dịch vụ /</a></li>
            <li class="active">Bảng giá</li>
          </ul>
        </div>
      </div>
    </div>
    <section id="pricing-1">
      <div class="container">
        <div class="row de_pricing-tables g-0">
          <div class="col-xl-8 offset-xl-2 col-lg-8">
            <div class="container slider" style="margin-bottom: 24px;">
              <p class="text-label">USERS</p>
              <el-slider v-model="value" show-input :marks="marks" :max="120"> </el-slider>
            </div>
          </div>
          <div class="col-xl-4 offset-xl-2 col-lg-6">
            <div class="de_pricing-table type-2">
              <div class="d-head">
                <!-- <h3>PRO</h3> -->
                <!-- <p>Ideal solution for beginners.</p> -->
              </div>
              <div class="d-price">
                <h4 class="opt-1">PRO</h4>
                <p>{{formatPrice(price_pro)}}<span>/năm</span></p>
                
              </div>
              <span class="concurrent-calls">(Tối đa {{ concurrent_calls }} cuộc gọi đồng thời)</span>
              <div class="d-group">
                <h4>Tính năng tổng đài</h4>
                <ul class="d-list">
                  <li>
                    <i class="fas fa-check-circle"></i>Được lưu trữ trong
                    Private Cloud của bạn như: Amazon, Google, Azure
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Tích hợp Microsoft 365
                  </li>
                  <li><i class="fas fa-check-circle"></i>Tích hợp CRM</li>
                  <li><i class="fas fa-check-circle"></i>Hàng đợi cuộc gọi</li>
                  <li><i class="fas fa-check-circle"></i>Tự động trả lời</li>
                  <li>
                    <i class="fas fa-check-circle"></i>Voicemail Transcription
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Báo cáo trò chuyện và
                    cuộc gọi
                  </li>
                  <li><i class="fas fa-check-circle"></i>Ghi âm cuộc gọi</li>
                  <li>
                    <i class="fas fa-check-circle"></i>Tính năng quản lý cuộc
                    gọi nhân viên (Nghe lén)
                  </li>
                  <li><i class="fas fa-check-circle"></i>Hot Desking</li>
                  <li><i class="fas fa-check-circle"></i>SMS & MMS</li>
                  <li>
                    <i class="fas fa-check-circle"></i>Họp trực tuyến (100 người
                    tham gia)
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Trò chuyện trực tiếp
                  </li>
                  <li><i class="fas fa-check-circle"></i>Tích hợp WhatsApp</li>
                  <li><i class="fas fa-check-circle"></i>Hotel PBX</li>
                  <li>
                    <i class="fas fa-check-circle"></i>Tự thiết kế luồng cuộc
                    gọi
                  </li>
                  <li>
                    <el-button type="text" @click="dialogVisiblePro = true"
                      >xem chi tiết</el-button
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="de_pricing-table type-2">
              <div class="d-head">
                <!-- <h3>PRO</h3> -->
                <!-- <p>Ideal solution for beginners.</p> -->
              </div>
              <div class="d-price">
                <h4 class="opt-1">ENTERPRISE</h4>
                <p>{{formatPrice(price_enterprise)}}<span>/năm</span></p>
              </div>
              <span class="concurrent-calls">(Tối đa {{ concurrent_calls }} cuộc gọi đồng thời)</span>
              <!-- <div class="d-action">
                <a href="#" class="btn-main w-100">Purchase Plan</a>
                <p>Auto re-news at regular rate</p>
              </div> -->
              <div class="d-group">
                <h4>Tính năng tổng đài</h4>
                <ul class="d-list">
                  <li>
                    <i class="fas fa-check-circle"></i>Được lưu trữ trong
                    Private Cloud của bạn như: Amazon, Google, Azure
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Tích hợp Microsoft 365
                  </li>
                  <li><i class="fas fa-check-circle"></i>Tích hợp CRM</li>
                  <li><i class="fas fa-check-circle"></i>Hàng đợi cuộc gọi</li>
                  <li><i class="fas fa-check-circle"></i>Tự động trả lời</li>
                  <li>
                    <i class="fas fa-check-circle"></i>Voicemail Transcription
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Báo cáo trò chuyện và
                    cuộc gọi
                  </li>
                  <li><i class="fas fa-check-circle"></i>Ghi âm cuộc gọi</li>
                  <li>
                    <i class="fas fa-check-circle"></i>Tính năng quản lý cuộc
                    gọi nhân viên (Nghe lén)
                  </li>
                  <li><i class="fas fa-check-circle"></i>Hot Desking</li>
                  <li><i class="fas fa-check-circle"></i>SMS & MMS</li>
                  <li>
                    <i class="fas fa-check-circle"></i>Họp trực tuyến (100 người
                    tham gia)
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Trò chuyện trực tiếp
                  </li>
                  <li><i class="fas fa-check-circle"></i>Tích hợp WhatsApp</li>
                  <li><i class="fas fa-check-circle"></i>Hotel PBX</li>
                  <li>
                    <i class="fas fa-check-circle"></i>Tự thiết kế luồng cuộc
                    gọi
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Tùy biến đa dạng nhiều
                    kịch bản cuộc gọi khác nhau
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Bật/tắt ghi âm cuộc gọi
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Họp trực tuyến (Lên đến
                    250 người tham gia)
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i>Tùy biến IP Phone Logo
                  </li>
                  <li>
                    <el-button type="text" @click="dialogVisibleEnterprise = true"
                      >xem chi tiết</el-button
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <el-dialog
      title="Bảng báo giá gói pro"
      :visible.sync="dialogVisiblePro"
      width="100%"
      :before-close="handleClose"
    >
      <section id="pricing-2">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-pricing text-center">
                <thead>
                  <tr>
                    <th scope="col">Phiên bản (SC = cuộc gọi đồng thời)</th>
                    <th scope="col">
                      Giá gói (năm)
                    </th>
                    <th scope="col">Triển khai (gói)</th>
                    <th scope="col">
                      Cài đặt cơ bản (gói)
                    </th>
                    <th scope="col">CHI PHÍ NĂM ĐẦU</th>
                    <th scope="col">GIA HẠN NĂM THỨ 2</th>
                    <th scope="col">
                      Thông tin máy chủ
                    </th>
                    <th scope="col">3CX Plus (năm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in data_pro">
                    <th>
                      <span class="lbl"
                        >Phiên bản (SC = cuộc gọi đồng thời)</span
                      ><div v-html="item.PRO"></div>
                    </th>
                    <td>
                      <span class="lbl">Giá gói (năm)</span
                      >{{ formatPrice(item.__EMPTY) }}
                    </td>
                    <td>
                      <span class="lbl">Triển khai (gói)</span
                      >{{ formatPrice(item.__EMPTY_1) }}
                    </td>
                    <td>
                      <span class="lbl">Cài đặt cơ bản (gói)</span
                      >{{ formatPrice(item.__EMPTY_2) }}
                    </td>
                    <td>
                      <span class="lbl">CHI PHÍ NĂM ĐẦU</span
                      >{{ formatPrice(item.__EMPTY_3) }}
                    </td>
                    <td>
                      <span class="lbl">GIA HẠN NĂM THỨ 2</span
                      >{{ formatPrice(item.__EMPTY_4) }}
                    </td>
                    <td>
                      <span class="lbl">Thông tin máy chủ</span
                      >{{ item.__EMPTY_5 }}
                    </td>
                    <td>
                      <span class="lbl">3CX Plus (năm)</span
                      >{{ formatPrice(item.__EMPTY_6) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </el-dialog>
    <el-dialog
    title="Bảng báo giá gói Enterprise"
    :visible.sync="dialogVisibleEnterprise"
    width="100%"
    :before-close="handleClose"
  >
    <section id="pricing-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-pricing text-center">
              <thead>
                <tr>
                  <th scope="col">Phiên bản (SC = cuộc gọi đồng thời)</th>
                  <th scope="col">
                    Giá gói (năm)
                  </th>
                  <th scope="col">Triển khai (gói)</th>
                  <th scope="col">
                    Cài đặt cơ bản (gói)
                  </th>
                  <th scope="col">CHI PHÍ NĂM ĐẦU</th>
                  <th scope="col">GIA HẠN NĂM THỨ 2</th>
                  <th scope="col">
                    Thông tin máy chủ
                  </th>
                  <th scope="col">3CX Plus (năm)</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,key) in data_enterprise" :key="key">
                  <th>
                    <span class="lbl"
                      >Phiên bản (SC = cuộc gọi đồng thời)</span
                    ><div v-html="item.ENTERPRISE"></div>
                  </th>
                  <td>
                    <span class="lbl">Giá gói (năm)</span
                    >{{ formatPrice(item.__EMPTY) }}
                  </td>
                  <td>
                    <span class="lbl">Triển khai (gói)</span
                    >{{ formatPrice(item.__EMPTY_1) }}
                  </td>
                  <td>
                    <span class="lbl">Cài đặt cơ bản (gói)</span
                    >{{ formatPrice(item.__EMPTY_2) }}
                  </td>
                  <td>
                    <span class="lbl">CHI PHÍ NĂM ĐẦU</span
                    >{{ formatPrice(item.__EMPTY_3) }}
                  </td>
                  <td>
                    <span class="lbl">GIA HẠN NĂM THỨ 2</span
                    >{{ formatPrice(item.__EMPTY_4) }}
                  </td>
                  <td>
                    <span class="lbl">Thông tin máy chủ</span
                    >{{ item.__EMPTY_5 }}
                  </td>
                  <td>
                    <span class="lbl">3CX Plus (năm)</span
                    >{{ formatPrice(item.__EMPTY_6) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </el-dialog>
  </div>
</template>
<script>
import "./style.css";
import dataPro from './pro.json';
import dataEnterprise from './enterprise.json';
export default {
  data() {
    return {
      value: 10,
      price_pro: 140000,
      price_enterprise: 14000,
      dialogVisiblePro: false,
      dialogVisibleEnterprise: false,
      data_pro: dataPro,
      data_enterprise: dataEnterprise,
      concurrent_calls: 4,
      marks: {
        0: '0',
        10: '10',
        20: '20',
        50: '50',
        70: '70',
        120: '120'
      }
    };
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".</p>", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " đ";
    },
    handleClose() {
      this.dialogVisiblePro = false;
      this.dialogVisibleEnterprise = false
    },
  },
  created() {
    let data_pro = this.data_pro.find(x => x.MAX === 8);
    let price_enterprise = this.data_enterprise.find(x => x.MAX === 8);
    this.price_pro = data_pro.__EMPTY;
    this.price_enterprise = price_enterprise.__EMPTY;
  },
  updated() {
    // users = 20;
    // số cuộc gọi đồng thời = 60% số lượng người dùng
    // cuoc goi dong thoi = (60/100) * 20
    var concurrent_calls = (60/100) * this.value;
    for(let i = 2; i< 11; i++) {
      let max =  Math.pow(2, i);
      let min =  Math.pow(2, i - 1);
      if (concurrent_calls > min && concurrent_calls <= max) {
        this.concurrent_calls = max;
        let data_pro = this.data_pro.find(x => x.MAX === max);
        let price_enterprise = this.data_enterprise.find(x => x.MAX === max);
        this.price_pro = data_pro.__EMPTY;
        this.price_enterprise = price_enterprise.__EMPTY;
      }
    }
  }
};
</script>
