body {
    background: #d8d3d324;
  }
  section {
    margin-bottom: 10px;
  }
  .de_pricing-tables {
    border-bottom: none;
  }
  .de_pricing-table {
    position: relative;
    height: 100%;
    padding: 40px;
    padding-bottom: 10px;
  }
  .de_pricing-table.type-2 {
    background: #ffffff;
    border-right: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
  }
  
  .dark-scheme .de_pricing-tables {
    border: solid 1px rgba(255, 255, 255, 0.05);
    border-bottom: none;
  }
  
  .dark-scheme .de_pricing-table.type-2 {
    background: #16172d;
    border-right: solid 1px rgba(255, 255, 255, 0.05);
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
  
  .de_pricing-tables div:last-child .de_pricing-table.type-2 {
    border-right: none;
  }
  /* de_pricing-table end */
  
  .de-price {
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    padding: 4px 12px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .de_pricing-table .d-head,
  .de_pricing-table .d-group,
  .de_pricing-table .d-action {
    margin-bottom: 30px;
  }
  
  .de_pricing-table .d-head h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .de_pricing-table .d-head p {
    line-height: 1.4em;
    min-height: 50px;
    color: #6c757d;
  }
  
  .de_pricing-table .d-price h4 {
    font-size: 40px;
    margin-bottom: 5px;
    letter-spacing: -1px;
  }
  
  a.btn-main {
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    outline: 0;
    font-weight: 800;
    text-decoration: none;
    padding: 6px 40px 6px 40px;
    font-size: 14px;
    border: none;
    background: var(--bg-color-even);
  }
  
  .de_pricing-table .d-group h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .de_pricing-table .d-list li {
    list-style: none;
    color: #6c757d;
  }
  
  .de_pricing-table .d-list li i {
    margin-right: 10px;
    color: var(--bg-color-even);
  }
  
  .d-action p {
    font-size: 12px;
  }
  
  .table-pricing {
    font-size: 16px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-right: none;
    overflow: hidden;
    padding: 5px;
    background: #ddd;
  }
  .table-pricing thead,
  .bg-gradient-to-top-right {
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
  }
  .table-pricing thead {
    color: #ffffff;
    font-size: 18px;
  }
  
  .table-pricing {
    font-size: 16px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-right: none;
    overflow: hidden;
    padding: 5px;
    background: #ddd;
  }
  
  .table-pricing thead {
    color: #ffffff;
    font-size: 18px;
    background: var(--bg-color-even);
  }
  
  .table-pricing thead tr th {
    font-weight: 400;
    padding: 20px 10px 20px 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;

  }
  
  .table-pricing tbody tr {
    width: 100%;
    background: #ffffff;
  }
  
  .table-pricing tbody tr:nth-child(even) {
    width: 100%;
    background: #f5f5f5;
  }
  
  .table-pricing.dark tbody tr {
    background: #222222;
  }
  
  .table-pricing.dark tbody tr:nth-child(even) {
    width: 100%;
    background: #111111;
  }
  
  .table-pricing tbody tr th {
    font-weight: bold;
  }
  
  .table-pricing tbody tr td,
  .table-pricing tbody tr th {
    border: none;
    padding: 20px 0 20px 0;
    font-size: 14px;
  }
  
  .table-pricing tbody tr th .lbl,
  .table-pricing tbody tr td .lbl {
    display: none;
  }
  
  .table-pricing .num {
    font-weight: bold;
  }
  
  .table-pricing .btn-main,
  .table-pricing .btn-line {
    display: inline-block;
    line-height: 1.1em;
  }
  
  .table-pricing > :not(caption) > * > * {
    border: none;
  }
  
  .typed-strings p {
    position: absolute;
  }
  
  .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.5s infinite;
    -moz-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
  }
  
  .pricing-table .top {
    padding: 40px;
  }
  
  .pricing-table .top p.plan-tagline {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .pricing-table .mid {
    padding: 40px;
    padding-bottom: 1px;
    border-left: none;
    border-right: none;
    background: var(--bg-color-even);
    color: #ffffff;
    padding-top: 20px;
  }
  
  .pricing-table .m,
  .pricing-table .y {
    font-weight: 500;
    font-family: var(--title-font);
    font-size: 48px;
    letter-spacing: -2px;
  }
  
  .pricing-table .mid .price .period {
    color: #fff;
    font-size: 14px;
  }
  .pricing-table .bottom {
    border-top: 0px;
    text-align: center;
  }
  .pricing-table .bottom ul {
    display: block;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;
    text-align: left;
    overflow: hidden;
    margin: 0 15px;
  }
  .pricing-table .bottom ul li {
    padding: 6px;
    font-size: 15px;
    color: #161c2d;
    opacity: 0.75;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    margin: 0 30px;
  }
  .pricing-table .action .btn-main {
    display: block;
    width: 100%;
  }
  .pricing-table {
    overflow: hidden;
    position: relative;
    background: #ffffff;
  }
  .pricing-table .action {
    padding: 40px;
  }
  
  .pricing-table .bottom i {
    color: var(--bg-color-even);
    margin-right: 10px;
  }

  p.des {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
  }
  
  .el-dialog__header {
    text-align: center;
    font-weight: bold;
  }

  .d-price p {
    font-size: 16px;
    color: #212529;
    font-weight: 500;
    margin-bottom: 0;
  }
  
  span.concurrent-calls {
    font-size: 13px;
    color: gray;
    display: block;
    margin-bottom: 6px;
  }

  p.text-label {
    margin-bottom: 0;
    font-size: 13px;
  }
  
  .el-slider__bar {
    background-color: var(--bg-color-even);
  }
  
  .el-slider__button {
    border: 2px solid var(--bg-color-even);
  }

  .d-head {
    display: none;
  }

  @media (max-width: 768px) {
    p.des {
      font-size: 12px;
    }

    p.text-label {
      margin-top: 16px;
    }

    .opt-1 {
      font-size: 24px !important;
    }

    .de_pricing-table {
      padding: 16px;
    }

    .de_pricing-table .d-price h4,.de_pricing-table .d-group h4 {
      font-size: 14px;
    }

    .table-pricing thead tr,
    .table-pricing tbody tr {
      display: block;
      width: 100%;
    }
  
    .table-pricing thead tr {
      display: none;
    }
  
    .table-pricing tbody tr th,
    .table-pricing tbody tr td {
      text-align: left;
      display: block;
      width: 100%;
    }
  
    .table-pricing tbody tr td {
      padding: 10px 10px;
      font-size: 12px;
    }
  
    .table-pricing tbody tr td:nth-child(2) {
      padding-top: 30px;
    }
  
    .table-pricing tbody tr td:last-child {
      padding-bottom: 40px;
      text-align: left;
    }
  
    .table-pricing tbody tr th span,
    .table-pricing tbody tr td span {
      min-width: 50%;
    }
  
    .table-pricing tbody tr th .lbl,
    .table-pricing tbody tr td .lbl {
      display: inline-block;
      min-width: 50%;
      font-size: 12px;
      font-weight: 600;
    }
  
    .table-pricing tbody tr th {
      color: #ffffff;
      padding: 16px;
      background: var(--bg-color-even);
      font-size: 14px;
    }

    .el-slider__marks-text {
      display: none;
    }

    .de_pricing-table .d-list li {
      font-size: 13px;
    }

    .el-dialog__body {
      padding: 1px;
    }
  }