<template>
 <div>
  <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
   <Header />
     <el-container>
       <el-main>
         <Nuxt />
       </el-main>
     </el-container>
     <el-dialog
     class="form-contact-home"
       title="Thông tin liên hệ"
       :visible.sync="dialogVisible"
       width="30%"
       :before-close="handleClose"
     >
       <el-form
         label-position="top"
         :model="ruleForm"
         ref="ruleForm"
         label-width="120px"
         class="demo-ruleForm"
       >
         <div class="row">
           <div class="col-lg-6">
             <el-form-item label="Họ tên" prop="fullname">
               <el-input
                 placeholder="Họ tên"
                 v-model="ruleForm.fullname"
               ></el-input>
             </el-form-item>
           </div>
           <div class="col-lg-6">
             <el-form-item
               label="Email"
               prop="email"
               :rules="[
                 {
                   required: true,
                   message: 'Nhập đúng định dạng email',
                   trigger: 'blur'
                 },
                 {
                   type: 'email',
                   message: 'Nhập đúng định dạng email',
                   trigger: ['blur', 'change']
                 }
               ]"
             >
               <el-input placeholder="Email" v-model="ruleForm.email"></el-input>
             </el-form-item>
           </div>
           <div class="col-lg-12">
             <el-form-item
               :rules="[
                 {
                   required: true,
                   message: 'Điện thoại không được để trống !',
                   trigger: 'blur'
                 }
               ]"
               label="Điện thoại"
               prop="phone"
             >
               <el-input
                 placeholder="Điện thoại"
                 v-model="ruleForm.phone"
               ></el-input>
             </el-form-item>
           </div>
           <div class="col-lg-12">
             <el-form-item label="Tiêu đề" prop="title">
               <el-input v-model="ruleForm.title"></el-input>
             </el-form-item>
           </div>
           <div class="col-lg-12">
             <el-form-item label="Nội dung" prop="content">
               <el-input
                 placeholder="Nội dung"
                 type="textarea"
                 v-model="ruleForm.content"
               ></el-input>
             </el-form-item>
           </div>
         </div>
         <el-form-item>
           <el-button type="primary" @click="submitForm('ruleForm')"
             >Gửi</el-button
           >
         </el-form-item>
       </el-form>
     </el-dialog>
   <Footer />
 </div>
</template>
<script>
import Header from "./header";
import Footer from "./footer.vue";
export default {
  data() {
    return {
      dialogVisible: false,
      ruleForm: {
        fullname: "",
        email: "",
        phone: "",
        title: "",
        content: ""
      }
    }
  },
  mounted() {
    this.$bus.$on("form-contact-event", () => {
      this.dialogVisible = !this.dialogVisible;
    });
  },
  components: {
    Header,
    Footer
  },
  methods: {
    handleClose(done) {
      done();
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert("Đã gửi thông tin liên hệ !");
          this.dialogVisible = false
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>
