<template>
    <footer>
        <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    Telephony
                </div>
                <ul>
                    <li>
                        <strong>
                            DỊCH VỤ TỔNG ĐÀI ẢO THÔNG MINH
                        </strong>
                    </li>
                    <li>
                        - Trụ sở : 26 ngõ 57 Trung Văn Nam Từ Liêm
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>
                        <strong>
                            Tư vấn dịch vụ
                        </strong>
                    </li>
                    <li>
                        <a href="#">024 999 999 88</a>
                    </li>
                    <li>
                        <strong>
                            Hỗ trợ kỹ thuật:
                        </strong>
                    </li>
                    <li>
                        <a href="#">024 999 999 88 (24/7/365)</a>
                    </li>
                    <li>
                        <strong>
                            Email:
                        </strong>
                    </li>
                    <li>
                        <a href="#">contact@let.vn</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>
                        <strong>
                            Chuyên mục
                        </strong>
                    </li>
                    <li>
                        <a href="#">Chính sách giá</a>
                    </li>
                    <li>
                        <a href="#">Hợp tác</a>
                    </li>
                    <li>
                        <a href="#">Đầu số cố định</a>
                    </li>
                    <li>
                        <a href="#">Đầu số 1900/1800</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>
                        <strong>
                            Giới thiệu
                        </strong>
                    </li>
                    <li>
                        <a href="#">Về telephony</a>
                    </li>
                    <li>
                        <a href="#">Trợ giúp</a>
                    </li>
                    <li>
                        <a href="#">Liên hệ</a>
                    </li>
                    <li>
                        <a href="#">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="#">Chính sách bảo mật</a>
                    </li>
                    <li>
                        <a href="#">Chính sách dịch vụ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        Copyright © 2015 L.E.T.,JSC. All rights reserved.
    </div>
    </footer>
</template>

<style>
footer {
    margin-top: 50px;
    background: #6b1b97;
    padding: 22px;
}
footer .logo {
    color: #fff;
    margin: 19px;
    margin-top: 0;
}
footer ul li {
    list-style: none;
    font-size: 14px;
    color: #FFFFFF;
   font-family: var(--title-font);
    font-weight: 100;
    margin-bottom: 12px;
}
footer ul li a {
    text-decoration: none;
    color: #fff;
}
footer ul li a:hover {
    color: #ebeef5;
}
footer ul {
    margin: 0;
}
footer ul li strong {
    font-weight: bold;
}
.copyright {
    border-top: 1px solid #ffffff52;
    padding-top: 20px;
    color: #fff;
    font-size: 12px;
}
@media (max-width: 768px) {
    footer {
        margin-top: 0;
        padding: 16px;
    }

    footer ul {
        padding: 0;
    }
}
</style>
