<template>
  <el-header>

    <div class="header-topbar">
      <ul>
        <li>
          <a href="tel:02499999988">
            <img src="~/assets/icon/phone_icon.png" alt="phone_icon">
            024 999 999 88
          </a>
        </li>
        <!-- <li>
          <a href="/dang-nhap">
            <img src="~/assets/icon/login_user_icon.png" alt="login">
            Đăng nhập
          </a>
        </li>
        <li>
          <a href="/dang-ky">
            <img src="~/assets/icon/signin_icon.png" alt="register">
            Đăng ký miễn phí
          </a>
        </li> -->
      </ul>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand logo" href="/">Telephony</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
            <a class="nav-link" href="/lien-he">Liên hệ</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sản phẩm
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/san-pham/3cx/cloud">Cloud</a></li>
                <li><a href="/san-pham/3cx/enterprise">Pro/Enterprise</a></li>
              </ul>
            </li>
            <a class="nav-link" href="/dau-so">Đầu số/ Thiết bị</a>
            <a class="nav-link" href="/dich-vu/ten-mien">Tên miền</a>
            <a class="nav-link" href="/dich-vu/3cx/gia">Bảng giá</a>
          </div>
        </div>
        <div class="d-flex">
          <button class="btn btn-primary" @click="showFormContact">Form liên hệ</button>
        </div>
      </div>
    </nav>

  </el-header>
</template>
<script>
export default {
  data() {
    return {
    }
  },
  components: {
  },
  methods: {
    showFormContact() {
      this.$bus.$emit('form-contact-event')
    }
  }
};
</script>
<style scope>
header.el-header {
  height: auto !important;
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 15%);
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
}
ul.dropdown-menu.show {
  border: 1px solid #dcdcdc42;
  border-radius: 0;
}
.nav-link {
  transition: 0s !important;
}

header ul {
  padding: 0;
  display: flex;
  margin: 0;
}

header ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 31px;
}

header ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 11.9px;
  color: #6b1b97;
  transition: all 0.3s linear;
}

header ul li a:hover {
  color: var(--bs-nav-link-hover-color);
}

header .navbar-nav a ul {
  position: absolute;
  left: 0;
  display: block;
  min-width: 246px;
  margin-top: 0px;
  padding-top: 17px;
}

header .navbar-nav a ul li {
  display: block;
  background: #fff;
  margin: 0 !important;
  padding: 2px 10px;
  border-top: 1px solid #8080802e;
}

header ul li a img {
  text-decoration: none;
  width: 16px;
  margin-right: 10px;
}

.header-topbar {
  display: flex;
  justify-content: end;
}

.logo {
  padding-left: 10px !important;
  padding-top: 2px !important;
  color: var(--bg-color-even);
  font-weight: bold;
  font-family: var(--title-font);
  font-size: 26px;
}

header .navbar-nav a {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.875;
  text-transform: none;
  position: relative;
  color: black;
}

header .navbar button.btn.btn-primary {
  background: #6b1b97;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

a.parents ul {
  display: none !important;
}

a.parents:hover ul {
  display: block !important;
}

a.parents ul li a {
  display: block;
  width: 100%;
}

@media (max-width: 768px) {
  .header-topbar {
    display: none;
  }

  button.navbar-toggler {
    border: none;
    font-size: 16px;
  }

  header .navbar-nav a {
    border-bottom: 1px solid #80808054;
  }

  header .navbar-collapse.show {
    margin-bottom: 10px;
  }

  ul.dropdown-menu.show {
    border: none;
  }
  ul.dropdown-menu.show li {
      display: block;
  }
  ul.dropdown-menu.show li a {
      text-decoration: none;
      border: none;
  }
}</style>
