<template>
  <div>
    <el-container>
      <el-main class="main-layout-login">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <Nuxt />
            </div>
          </div>
        </div>
      </el-main>
    </el-container>
  </div>
</template>
<script>
import Logo from "../components/Logo";
export default {
  components: {
    Logo,
  },
};
</script>
<style>
.NuxtLogo {
  width: 30px;
}

.main-layout-login {
  background: url(https://madebydesignesia.com/themes/hostco/images/background/6.jpg);
  height: 100vh;
}
</style>