<template>
  <div class="register">
    <el-card shadow="always">
      <div class="logo">Telephony</div>
      <p>Đăng ký tài khoản mới</p>
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
        <el-form-item :rules="[
          {
            required: true,
            message: 'Không được để trống !',
            trigger: 'blur'
          }
        ]" label="Tên đăng nhập">
          <el-input placeholder="Tên đăng nhập" v-model="ruleForm.username"></el-input>
        </el-form-item>

        <el-form-item label="Email" prop="email" :rules="[
          {
            required: true,
            message: 'Nhập đúng định dạng email',
            trigger: 'blur'
          },
          {
            type: 'email',
            message: 'Nhập đúng định dạng email',
            trigger: ['blur', 'change']
          }
        ]">
          <el-input placeholder="Email hoặc số điện thoại" v-model="ruleForm.email"></el-input>
        </el-form-item>
        <el-form-item :rules="[
          {
            required: true,
            message: 'Vui lòng nhập mật khẩu !',
            trigger: 'blur'
          }
        ]" label="Mật khẩu" prop="pass">
          <el-input type="password" placeholder="Nhập mật khẩu" v-model="ruleForm.pass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item prop="checkPass" label="Nhập lại mật khẩu">
          <el-input type="password" placeholder="Nhập lại mật khẩu" v-model="ruleForm.checkPass"
            autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item style="margin-bottom: 10px">
          <el-button class="btn-submit-login bg-register" type="primary" @click="register('ruleForm')">Đăng
            ký</el-button>
          <NuxtLink to="/dang-nhap" style="float: left">Trở lại đăng nhập</NuxtLink>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
export default {
  layout: "login",
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Vui lòng nhập mật khẩu"));
      } else {
        if (this.ruleForm.checkPass !== "") {
          this.$refs.ruleForm.validateField("checkPass");
        }
        callback();
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Mật khẩu nhập lại không khớp"));
      } else if (value !== this.ruleForm.pass) {
        callback(new Error("Mật khẩu nhập lại không khớp !"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        username: "",
        pass: "",
        checkPass: "",
        email: ""
      },
      rules: {
        pass: [{ validator: validatePass, trigger: "blur" }],
        checkPass: [{ validator: validatePass2, trigger: "blur" }]
      }
    };
  },
  methods: {
    register(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$axios.post("/api-login/register", {
              username: this.ruleForm.username,
              email: this.ruleForm.email,
              password: this.ruleForm.pass
            });

            await this.$auth.loginWith("local", {
              data: {
                email: this.ruleForm.email,
                password: this.ruleForm.pass
              }
            });

            this.$message({
              type: "success",
              message: "Đăng ký thành công email:" + this.ruleForm.email
            });
            this.$router.push("/");
          } catch (e) {
            this.error = e.response.data.message;
          }
        } else {
          return false;
        }
      });
    }
  }
};
</script>
<style>
.btn-submit-login {
  width: 100%;
}

.el-input__inner {
  border-radius: 5px;
}

.register {
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
}
</style>
