<template>
  <div class="login">
    <el-card shadow="always">
      <div class="logo">Telephony</div>
      <p>Đăng nhập</p>
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
        <el-form-item label="Email" prop="email" :rules="[
          {
            required: true,
            message: 'Nhập đúng định dạng email',
            trigger: 'blur',
          },
          {
            type: 'email',
            message: 'Nhập đúng định dạng email',
            trigger: ['blur', 'change'],
          },
        ]">
          <el-input placeholder="Email hoặc số điện thoại" v-model="ruleForm.email"></el-input>
        </el-form-item>

        <el-form-item label="Mật khẩu" prop="password" :rules="[
          {
            required: true,
            message: 'Vui lòng nhập mật khẩu !',
            trigger: 'blur',
          },
        ]">
          <el-input placeholder="Mật khẩu" type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item style="margin-bottom: 0">
          <el-button class="btn-submit-login" type="primary" @click="submitForm('ruleForm')">Đăng nhập</el-button>
        </el-form-item>
        <el-form-item style="margin-bottom: 0">
          <NuxtLink to="/forgot-password">Quên mật khẩu ?</NuxtLink>
        </el-form-item>
        <el-form-item>
          <NuxtLink to="/dang-ky">
            <el-button class="register bg-register" type="primary">
              Tạo tài khoản mới
            </el-button>
          </NuxtLink>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
const Cookie = process.client ? require("js-cookie") : undefined;
export default {
  layout: "login",
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Vui lòng nhập mật khẩu"));
      } else {
        if (this.ruleForm.checkPass !== "") {
          this.$refs.ruleForm.validateField("checkPass");
        }
        callback();
      }
    };
    return {
      ruleForm: {
        pass: "",
        email: "",
      },
      rules: {
        pass: [{ validator: validatePass, trigger: "blur" }],
      },
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          try {
            await this.$auth.loginWith('local', {
              data: {
                email: this.ruleForm.email,
                password: this.ruleForm.pass,
              },
            });

          } catch (e) {
            console.log(e)
            // this.error = e.response.data.message;
            // this.$router.push("/");
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
  },
};
</script>
<style>
.btn-submit-login {
  width: 100%;
}

.el-input__inner {
  border-radius: 5px;
}

.register span a {
  text-decoration: none;
  color: white;
}

.el-form-item__content a {
  text-decoration: none;
  color: #409eff;
}

.login {
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
}

.bg-register {
  background-color: #67c23a;
  border-color: #67c23a;
}
</style>