<template>
  <div>
    <Slide />
    <Service />
    <Partner />
    <Customer />
  </div>
</template>
<script>
import Slide from "../components/Home/Slide.vue";
import Service from "../components/Home/Service.vue";
import Partner from "../components/Home/Partner.vue";
import Customer from "../components/Home/Customer.vue";
export default {
  data() {
    return {
      dialogVisible: false,
      ruleForm: {
        fullname: "",
        email: "",
        phone: "",
        title: "",
        content: ""
      }
    };
  },
  mounted() {
    this.$bus.$on("form-contact-event", () => {
      this.dialogVisible = !this.dialogVisible;
    });
  },
  components: {
    Slide,
    Service,
    Partner,
    Customer
  },
  methods: {
    handleClose(done) {
      done();
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert("Đã gửi thông tin liên hệ !");
          this.dialogVisible = false
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>

<style>
  .form-contact-home .el-form-item__content {
    text-align: center;
  }
</style>
