<template>
    <div>
        <div class="page-header dtable text-center"
            style="background-image: url(https://omicall.com/wp-content/uploads/bg-page-header.jpeg);">
            <div class="dcell">
                <div class="container">
                    <h1 class="page-title">Liên hệ</h1>
                    <ul id="breadcrumbs" class="breadcrumbs">
                        <li><a href="/">Trang chủ /</a></li>
                        <li class="active">Liên hệ</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6656030676386!2d105.79907231541516!3d21.046061992562155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3cb8f4e11f%3A0x4aa8f88d29beb0cb!2zOTMgSG_DoG5nIFF14buRYyBWaeG7h3Q!5e0!3m2!1svi!2s!4v1675779085589!5m2!1svi!2s"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info">
                        <h3>Thông tin doanh nghiệp</h3>
                        <p>
                            <svg height="16" id="svg8" version="1.1" viewBox="0 0 8.4666665 8.4666669" width="32"
                                xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#"
                                xmlns:dc="http://purl.org/dc/elements/1.1/"
                                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                xmlns:svg="http://www.w3.org/2000/svg">
                                <defs id="defs2" />
                                <g id="layer1" transform="translate(0,-288.53332)">
                                    <path
                                        d="m 4.2324219,288.79688 c -1.6042437,0 -2.9101556,1.30591 -2.9101563,2.91015 -10e-7,2.82277 2.7460938,4.96875 2.7460938,4.96875 a 0.26460978,0.26460978 0 0 0 0.3300781,0 c 0,0 2.7460996,-2.14598 2.7460937,-4.96875 -3.4e-6,-1.60424 -1.3078657,-2.91015 -2.9121093,-2.91015 z m 0,0.52929 c 1.3182605,0 2.3828097,1.0626 2.3828125,2.38086 4.8e-6,2.30926 -2.0910618,4.13374 -2.3808594,4.38086 -0.2884142,-0.24588 -2.3828134,-2.0707 -2.3828125,-4.38086 5e-7,-1.31826 1.0625988,-2.38086 2.3808594,-2.38086 z"
                                        id="path929"
                                        style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                                    <path
                                        d="m 4.2324219,290.38477 c -0.7274912,0 -1.3222633,0.59477 -1.3222657,1.32226 -4.5e-6,0.7275 0.5947697,1.32422 1.3222657,1.32422 0.727496,0 1.3242233,-0.59672 1.3242187,-1.32422 -2.3e-6,-0.72749 -0.5967275,-1.32226 -1.3242187,-1.32226 z m 0,0.52929 c 0.4415089,0 0.7949204,0.35146 0.7949219,0.79297 2.7e-6,0.44151 -0.35341,0.79492 -0.7949219,0.79492 -0.441512,0 -0.7929715,-0.35341 -0.7929688,-0.79492 1.4e-6,-0.44151 0.3514598,-0.79297 0.7929688,-0.79297 z"
                                        id="circle931"
                                        style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                                </g>
                            </svg>
                              26 ngõ 57 Trung Văn Nam Từ Liêm
                        </p>
                        <p>
                            <a href="mailto:contact@let.vn">
                                <img style="width: 16px; margin-right: 10px" width="16" height="16"
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACfElEQVRoge2ZvUscQRTAV0WNgoIYSdRCBW0EwWP27iSINraWNtr7L1gmVe4sLa9SIjaza/wobLSSNEkTKxsFTVBRb2fOOzCJIbq+dx9C7nLuzO1dhoV58Ni9j533ezNv3nvDGoYWLVq0KBU67DZZJl8EvbBN7gZBgfUcrnFkN/BGNZAPR2JGkGb+Hw5cGKoh/GrwHchv4FvVILKKzMiey0SjmS74Mm6Z7JdqMG9lvy3CE5uhZE9JSrVDvA9/tAn7ox60BPwerpSGbga9a0PEGcY/w4o8qAeHcCF8l4ZTo/JFjjgRWI09ZeAm/2SH+YQ0eKkjfByWcP8/zvgXuE77Bi8W23SmLMIOajjjhzD+jGu4dcJQssv01nDr0Qjsj+Mqwn+DFZ6nM26DKAeGN+6Np0KGHywzFRIdIEHcRjTqrxVhSZiMheXJkxfC4EUJpqgS51KVHU0PiQ64Tc5bEQKe5RIxnoFrfDXitIvaKZfiy7QSWCzYBxpJDYga2HyTbMs6Qnj6mRjHih9fG7npEB2Xjjm9wLNUrsh69ELsDr3eil6+EjW4RjIvERIc+fn3hPDEOrnuFh3nYzjdmR/nx3OMQs0cLjnM7juZJd+IpvoBfAUV70WfQxtoKx9mnmxy3ShhDMOEjn1vEQUSFTxdZZMC4ZcyTBW20+waHdkZdJv9gheyGYTKWSUsvs4DsLFOZfN3QQr1BJ4/8sNQlQONbAXFig7h+LUatqt6IvPqYWrRU9XqSPkZYnqWhq9e55TPZb+rga3gn4lVA2gHVANoB1QDaAdUA2gH8i8LlINUpNDBogMx5SAVKjSQ7wuvmGKBWgmYeYTPvmLSokWLFqXyCNXA1eVRikMYAAAAAElFTkSuQmCC"
                                    alt="contact" />
                                contact@let.vn</a>
                        </p>
                        <p>
                            <a href="">
                                <img style="width: 16px; margin-right: 10px" width="16" height="16"
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACJ0lEQVRoge2YzUrDQBDHo1cVBEHBi179oKVsasEHEE968AvFD/Sgj+Fd36B4Uk9p0urVi/ga+gAqzW6RKmi1xNlI2li1ptvJbhf6h6U9NM3vPzOZ7KxhdNWV/sql6SpfqjmE5BB3OUfou03oR85km6p5WlIN3mSev3Qy8QNeJxN/wodMwOeWas5f9S98J5uIDB8yYRG2rZrbV8vwnWRCGD78YBO2oyd8bdGqdBP+GxYFvp4JJ1EelmeA0BVUAyYrHxperzQDXLbpLkH6KzgG6LVUeGwT8AwcKTGAZcIx2YIyA3UTgtE36as1+div1kCKjYkbYFdK4bmghhfFDbh7qvkN6ONnggaeL2aLA0rhL1LFUSiDF8HyOUGFEZlhIfrngr2/mk+5E2jw4RnWJmwjyjW8fsV7P82jwTfubfh3bqjZNRahB8LbCb73mWHJWOBDKa7w/t74e17z4mUTGGDZmOG/myhkSuN+q4RuI/rAhqJPLzMPI23D4+3nW679dQmRj2kR6ugc+dtCsjSoZ+RhYIF7T2kZed4InDSd1zPy/NQB43SaRx9v/Isc+TdYa23DB5KchXKOuHNo8IHkZILeOSadRocPFGcm4G1tt90qowg7EzDXluD/9mMHDwslE19b76zUUzUcE7QKUS+gbYklmijzMRB1ksJQMxP83IYffVhmaVf5AN5MIRPQw+kN1PYxPzE7Tdz3qWaLrHz6acgzvB7VHF11haBPx0aGtURsMUEAAAAASUVORK5CYII="
                                    alt="phone_icon" />
                                +84 24 999 999 88</a>
                        </p>
                    </div>
                    <div class="contact-info">
                        <h3>Giờ làm việc</h3>
                        <p><strong>Thứ 2 - Thứ 6: </strong> 8h30 - 17h30</p>
                        <p><strong>Thứ 7, Chủ nhật: </strong> nghỉ</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-contact">
                        <h5>Liên hệ</h5>
                        <p>
                            Mọi vấn đề liên hệ hợp tác hoặc cần tư vấn về sản phẩm cũng như
                            giải pháp vận hành doanh nghiệp xin điền vào form dưới đây:
                        </p>
                        <el-form label-position="top" :model="ruleForm" ref="ruleForm"
                            label-width="120px" class="demo-ruleForm">
                            <div class="row">
                                <div class="col-lg-6">
                                    <el-form-item label="Họ tên" prop="fullname">
                                        <el-input placeholder="Họ tên" v-model="ruleForm.fullname"></el-input>
                                    </el-form-item>
                                </div>
                                <div class="col-lg-6">
                                    <el-form-item label="Email" prop="email" :rules="[
                                        {
                                            required: true,
                                            message: 'Nhập đúng định dạng email',
                                            trigger: 'blur'
                                        },
                                        {
                                            type: 'email',
                                            message: 'Nhập đúng định dạng email',
                                            trigger: ['blur', 'change']
                                        }
                                    ]">
                                        <el-input placeholder="Email" v-model="ruleForm.email"></el-input>
                                    </el-form-item>
                                </div>
                                <div class="col-lg-12">
                                    <el-form-item :rules="[
                                        {
                                            required: true,
                                            message: 'Điện thoại không được để trống !',
                                            trigger: 'blur'
                                        }
                                    ]" label="Điện thoại" prop="phone">
                                        <el-input placeholder="Điện thoại" v-model="ruleForm.phone"></el-input>
                                    </el-form-item>
                                </div>
                                <div class="col-lg-12">
                                    <el-form-item label="Tiêu đề" prop="title">
                                        <el-input v-model="ruleForm.title"></el-input>
                                    </el-form-item>
                                </div>
                                <div class="col-lg-12">
                                    <el-form-item label="Nội dung" prop="content">
                                        <el-input placeholder="Nội dung" type="textarea"
                                            v-model="ruleForm.content"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <el-form-item>
                                <el-button type="primary" @click="submitForm('ruleForm')">Gửi</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            ruleForm: {
                fullname: "",
                email: "",
                phone: "",
                title: "",
                content: ""
            }
        };
    },
    methods: {
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    alert("submit!");
                } else {
                    console.log("error submit!!");
                    return false;
                }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
    }
};
</script>

<style scope>
.page-header {
    height: 300px;
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.dcell {
    display: table-cell;
    vertical-align: middle;
}

.dcell h1 {
    font-family: var(--title-font);
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: none;
    color: #1a1b1e;
}

.page-header .breadcrumbs {
    margin-bottom: 0;
    margin-top: 30px;
    text-transform: capitalize;
}

.page-header .breadcrumbs li {
    display: inline-block;
}

.page-header .breadcrumbs li a {
    text-decoration: none;
    color: #a5b7d2;
}

.contact-info {
    background-color: rgb(242, 246, 254);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 32px;
    margin-bottom: 16px;
}

.contact-info h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 26px;
    font-weight: bold;
}

.contact-info p {
    background: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.7em;
    margin-bottom: 5px;
}

.contact-info a {
    text-decoration: none;
    color: #ac34ee;
}

.contact-info strong {
    padding-right: 5px;
}

.form-contact h5 {
    font-size: 26px;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}

.form-contact {
    padding-top: 16px;
}
</style>
