<template>
  <div>
    <el-container>
      <el-main class="main-layout">
        <el-row>
          <el-col>
              login
              <Nuxt />
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>